:root {
  --pri-blue: 0, 87, 183;
  --sec-blue: 14, 65, 116;
  --red: 175, 39, 47;
  --white: 255, 255, 255;
  --gray: 86, 86, 86;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  font-size: 16px;
}

.bc-h1 {
  margin: 0;
  color: rgba(var(--pri-blue), 1);
  font-family: "Roboto";
  font-size: 52px;
}
.bc-h2 {
  margin: 0;
  color: rgba(var(--pri-blue), 1);
  font-family: "Roboto";
  font-size: 48px;
}
.bc-h3 {
  margin: 0;
  color: rgba(var(--pri-blue), 1);
  font-family: "Roboto";
  font-size: 36px;
}
.no-shadow {
  text-shadow: none;
}

main {
  background: rgba(var(--white), 1);
  padding: 10px 0;
}
main section header {
  border-bottom: 1px solid rgba(var(--red), 1);
  padding: 1rem 0;
}
main section header#main-header {
  border-bottom: none;
  margin: 30px 0;
}
main section div h3 {
  padding: 1rem 0;
}

.bc-palette,
.bc-tints,
.bc-backgrounds,
.bc-text {
  display: flex;
  flex-flow: row wrap;
}
.bc-palette .bc-color-chip,
.bc-tints .bc-color-chip,
.bc-backgrounds .bc-color-chip,
.bc-text .bc-color-chip {
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bc-palette .bc-color-chip:nth-child(1n+2),
.bc-tints .bc-color-chip:nth-child(1n+2),
.bc-backgrounds .bc-color-chip:nth-child(1n+2),
.bc-text .bc-color-chip:nth-child(1n+2) {
  margin-left: 20px;
}

.dpu-bg-blue {
  background: rgba(var(--pri-blue), 1);
}
.dpu-bg-blue-100 {
  background-color: #0057b7;
}
.dpu-bg-blue-100-transparent {
  background: rgba(var(--pri-blue), 1);
}
.dpu-bg-blue-100-transparent h1,
.dpu-bg-blue-100-transparent h2,
.dpu-bg-blue-100-transparent h3,
.dpu-bg-blue-100-transparent h4,
.dpu-bg-blue-100-transparent h5,
.dpu-bg-blue-100-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-95 {
  background-color: #005fc7;
}
.dpu-bg-blue-95-transparent {
  background: rgba(var(--pri-blue), 0.95);
}
.dpu-bg-blue-95-transparent h1,
.dpu-bg-blue-95-transparent h2,
.dpu-bg-blue-95-transparent h3,
.dpu-bg-blue-95-transparent h4,
.dpu-bg-blue-95-transparent h5,
.dpu-bg-blue-95-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-90 {
  background-color: #0067d8;
}
.dpu-bg-blue-90-transparent {
  background: rgba(var(--pri-blue), 0.9);
}
.dpu-bg-blue-90-transparent h1,
.dpu-bg-blue-90-transparent h2,
.dpu-bg-blue-90-transparent h3,
.dpu-bg-blue-90-transparent h4,
.dpu-bg-blue-90-transparent h5,
.dpu-bg-blue-90-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-85 {
  background-color: #006ee8;
}
.dpu-bg-blue-85-transparent {
  background: rgba(var(--pri-blue), 0.85);
}
.dpu-bg-blue-85-transparent h1,
.dpu-bg-blue-85-transparent h2,
.dpu-bg-blue-85-transparent h3,
.dpu-bg-blue-85-transparent h4,
.dpu-bg-blue-85-transparent h5,
.dpu-bg-blue-85-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-80 {
  background-color: #0076f8;
}
.dpu-bg-blue-80-transparent {
  background: rgba(var(--pri-blue), 0.8);
}
.dpu-bg-blue-80-transparent h1,
.dpu-bg-blue-80-transparent h2,
.dpu-bg-blue-80-transparent h3,
.dpu-bg-blue-80-transparent h4,
.dpu-bg-blue-80-transparent h5,
.dpu-bg-blue-80-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-75 {
  background-color: #0a7eff;
}
.dpu-bg-blue-75-transparent {
  background: rgba(var(--pri-blue), 0.75);
}
.dpu-bg-blue-75-transparent h1,
.dpu-bg-blue-75-transparent h2,
.dpu-bg-blue-75-transparent h3,
.dpu-bg-blue-75-transparent h4,
.dpu-bg-blue-75-transparent h5,
.dpu-bg-blue-75-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-70 {
  background-color: #1a87ff;
}
.dpu-bg-blue-70-transparent {
  background: rgba(var(--pri-blue), 0.7);
}
.dpu-bg-blue-70-transparent h1,
.dpu-bg-blue-70-transparent h2,
.dpu-bg-blue-70-transparent h3,
.dpu-bg-blue-70-transparent h4,
.dpu-bg-blue-70-transparent h5,
.dpu-bg-blue-70-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-65 {
  background-color: #2a8fff;
}
.dpu-bg-blue-65-transparent {
  background: rgba(var(--pri-blue), 0.65);
}
.dpu-bg-blue-65-transparent h1,
.dpu-bg-blue-65-transparent h2,
.dpu-bg-blue-65-transparent h3,
.dpu-bg-blue-65-transparent h4,
.dpu-bg-blue-65-transparent h5,
.dpu-bg-blue-65-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-60 {
  background-color: #3b98ff;
}
.dpu-bg-blue-60-transparent {
  background: rgba(var(--pri-blue), 0.6);
}
.dpu-bg-blue-60-transparent h1,
.dpu-bg-blue-60-transparent h2,
.dpu-bg-blue-60-transparent h3,
.dpu-bg-blue-60-transparent h4,
.dpu-bg-blue-60-transparent h5,
.dpu-bg-blue-60-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-55 {
  background-color: #4ba1ff;
}
.dpu-bg-blue-55-transparent {
  background: rgba(var(--pri-blue), 0.55);
}
.dpu-bg-blue-55-transparent h1,
.dpu-bg-blue-55-transparent h2,
.dpu-bg-blue-55-transparent h3,
.dpu-bg-blue-55-transparent h4,
.dpu-bg-blue-55-transparent h5,
.dpu-bg-blue-55-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-50 {
  background-color: #5ca9ff;
}
.dpu-bg-blue-50-transparent {
  background: rgba(var(--pri-blue), 0.5);
}
.dpu-bg-blue-50-transparent h1,
.dpu-bg-blue-50-transparent h2,
.dpu-bg-blue-50-transparent h3,
.dpu-bg-blue-50-transparent h4,
.dpu-bg-blue-50-transparent h5,
.dpu-bg-blue-50-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-45 {
  background-color: #6cb2ff;
}
.dpu-bg-blue-45-transparent {
  background: rgba(var(--pri-blue), 0.45);
}
.dpu-bg-blue-45-transparent h1,
.dpu-bg-blue-45-transparent h2,
.dpu-bg-blue-45-transparent h3,
.dpu-bg-blue-45-transparent h4,
.dpu-bg-blue-45-transparent h5,
.dpu-bg-blue-45-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-40 {
  background-color: #7cbaff;
}
.dpu-bg-blue-40-transparent {
  background: rgba(var(--pri-blue), 0.4);
}
.dpu-bg-blue-40-transparent h1,
.dpu-bg-blue-40-transparent h2,
.dpu-bg-blue-40-transparent h3,
.dpu-bg-blue-40-transparent h4,
.dpu-bg-blue-40-transparent h5,
.dpu-bg-blue-40-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-35 {
  background-color: #8dc3ff;
}
.dpu-bg-blue-35-transparent {
  background: rgba(var(--pri-blue), 0.35);
}
.dpu-bg-blue-35-transparent h1,
.dpu-bg-blue-35-transparent h2,
.dpu-bg-blue-35-transparent h3,
.dpu-bg-blue-35-transparent h4,
.dpu-bg-blue-35-transparent h5,
.dpu-bg-blue-35-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-30 {
  background-color: #9dccff;
}
.dpu-bg-blue-30-transparent {
  background: rgba(var(--pri-blue), 0.3);
}
.dpu-bg-blue-30-transparent h1,
.dpu-bg-blue-30-transparent h2,
.dpu-bg-blue-30-transparent h3,
.dpu-bg-blue-30-transparent h4,
.dpu-bg-blue-30-transparent h5,
.dpu-bg-blue-30-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-25 {
  background-color: #add4ff;
}
.dpu-bg-blue-25-transparent {
  background: rgba(var(--pri-blue), 0.25);
}
.dpu-bg-blue-25-transparent h1,
.dpu-bg-blue-25-transparent h2,
.dpu-bg-blue-25-transparent h3,
.dpu-bg-blue-25-transparent h4,
.dpu-bg-blue-25-transparent h5,
.dpu-bg-blue-25-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-20 {
  background-color: #beddff;
}
.dpu-bg-blue-20-transparent {
  background: rgba(var(--pri-blue), 0.2);
}
.dpu-bg-blue-20-transparent h1,
.dpu-bg-blue-20-transparent h2,
.dpu-bg-blue-20-transparent h3,
.dpu-bg-blue-20-transparent h4,
.dpu-bg-blue-20-transparent h5,
.dpu-bg-blue-20-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-15 {
  background-color: #cee5ff;
}
.dpu-bg-blue-15-transparent {
  background: rgba(var(--pri-blue), 0.15);
}
.dpu-bg-blue-15-transparent h1,
.dpu-bg-blue-15-transparent h2,
.dpu-bg-blue-15-transparent h3,
.dpu-bg-blue-15-transparent h4,
.dpu-bg-blue-15-transparent h5,
.dpu-bg-blue-15-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-10 {
  background-color: #deeeff;
}
.dpu-bg-blue-10-transparent {
  background: rgba(var(--pri-blue), 0.1);
}
.dpu-bg-blue-10-transparent h1,
.dpu-bg-blue-10-transparent h2,
.dpu-bg-blue-10-transparent h3,
.dpu-bg-blue-10-transparent h4,
.dpu-bg-blue-10-transparent h5,
.dpu-bg-blue-10-transparent h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-dark-blue {
  background: rgba(var(--sec-blue), 1);
}
.dpu-bg-dark-blue-100 {
  background-color: #0e4174;
}
.dpu-bg-dark-blue-100-transparent {
  background: rgba(var(--sec-blue), 1);
}
.dpu-bg-dark-blue-100-transparent h1,
.dpu-bg-dark-blue-100-transparent h2,
.dpu-bg-dark-blue-100-transparent h3,
.dpu-bg-dark-blue-100-transparent h4,
.dpu-bg-dark-blue-100-transparent h5,
.dpu-bg-dark-blue-100-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-95 {
  background-color: #104b85;
}
.dpu-bg-dark-blue-95-transparent {
  background: rgba(var(--sec-blue), 0.95);
}
.dpu-bg-dark-blue-95-transparent h1,
.dpu-bg-dark-blue-95-transparent h2,
.dpu-bg-dark-blue-95-transparent h3,
.dpu-bg-dark-blue-95-transparent h4,
.dpu-bg-dark-blue-95-transparent h5,
.dpu-bg-dark-blue-95-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-90 {
  background-color: #125496;
}
.dpu-bg-dark-blue-90-transparent {
  background: rgba(var(--sec-blue), 0.9);
}
.dpu-bg-dark-blue-90-transparent h1,
.dpu-bg-dark-blue-90-transparent h2,
.dpu-bg-dark-blue-90-transparent h3,
.dpu-bg-dark-blue-90-transparent h4,
.dpu-bg-dark-blue-90-transparent h5,
.dpu-bg-dark-blue-90-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-85 {
  background-color: #145ea7;
}
.dpu-bg-dark-blue-85-transparent {
  background: rgba(var(--sec-blue), 0.85);
}
.dpu-bg-dark-blue-85-transparent h1,
.dpu-bg-dark-blue-85-transparent h2,
.dpu-bg-dark-blue-85-transparent h3,
.dpu-bg-dark-blue-85-transparent h4,
.dpu-bg-dark-blue-85-transparent h5,
.dpu-bg-dark-blue-85-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-80 {
  background-color: #1667b8;
}
.dpu-bg-dark-blue-80-transparent {
  background: rgba(var(--sec-blue), 0.8);
}
.dpu-bg-dark-blue-80-transparent h1,
.dpu-bg-dark-blue-80-transparent h2,
.dpu-bg-dark-blue-80-transparent h3,
.dpu-bg-dark-blue-80-transparent h4,
.dpu-bg-dark-blue-80-transparent h5,
.dpu-bg-dark-blue-80-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-75 {
  background-color: #1871c9;
}
.dpu-bg-dark-blue-75-transparent {
  background: rgba(var(--sec-blue), 0.75);
}
.dpu-bg-dark-blue-75-transparent h1,
.dpu-bg-dark-blue-75-transparent h2,
.dpu-bg-dark-blue-75-transparent h3,
.dpu-bg-dark-blue-75-transparent h4,
.dpu-bg-dark-blue-75-transparent h5,
.dpu-bg-dark-blue-75-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-70 {
  background-color: #1a7ada;
}
.dpu-bg-dark-blue-70-transparent {
  background: rgba(var(--sec-blue), 0.7);
}
.dpu-bg-dark-blue-70-transparent h1,
.dpu-bg-dark-blue-70-transparent h2,
.dpu-bg-dark-blue-70-transparent h3,
.dpu-bg-dark-blue-70-transparent h4,
.dpu-bg-dark-blue-70-transparent h5,
.dpu-bg-dark-blue-70-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-65 {
  background-color: #2384e4;
}
.dpu-bg-dark-blue-65-transparent {
  background: rgba(var(--sec-blue), 0.65);
}
.dpu-bg-dark-blue-65-transparent h1,
.dpu-bg-dark-blue-65-transparent h2,
.dpu-bg-dark-blue-65-transparent h3,
.dpu-bg-dark-blue-65-transparent h4,
.dpu-bg-dark-blue-65-transparent h5,
.dpu-bg-dark-blue-65-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-60 {
  background-color: #348de6;
}
.dpu-bg-dark-blue-60-transparent {
  background: rgba(var(--sec-blue), 0.6);
}
.dpu-bg-dark-blue-60-transparent h1,
.dpu-bg-dark-blue-60-transparent h2,
.dpu-bg-dark-blue-60-transparent h3,
.dpu-bg-dark-blue-60-transparent h4,
.dpu-bg-dark-blue-60-transparent h5,
.dpu-bg-dark-blue-60-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-55 {
  background-color: #4597e8;
}
.dpu-bg-dark-blue-55-transparent {
  background: rgba(var(--sec-blue), 0.55);
}
.dpu-bg-dark-blue-55-transparent h1,
.dpu-bg-dark-blue-55-transparent h2,
.dpu-bg-dark-blue-55-transparent h3,
.dpu-bg-dark-blue-55-transparent h4,
.dpu-bg-dark-blue-55-transparent h5,
.dpu-bg-dark-blue-55-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-50 {
  background-color: #55a0eb;
}
.dpu-bg-dark-blue-50-transparent {
  background: rgba(var(--sec-blue), 0.5);
}
.dpu-bg-dark-blue-50-transparent h1,
.dpu-bg-dark-blue-50-transparent h2,
.dpu-bg-dark-blue-50-transparent h3,
.dpu-bg-dark-blue-50-transparent h4,
.dpu-bg-dark-blue-50-transparent h5,
.dpu-bg-dark-blue-50-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-45 {
  background-color: #66aaed;
}
.dpu-bg-dark-blue-45-transparent {
  background: rgba(var(--sec-blue), 0.45);
}
.dpu-bg-dark-blue-45-transparent h1,
.dpu-bg-dark-blue-45-transparent h2,
.dpu-bg-dark-blue-45-transparent h3,
.dpu-bg-dark-blue-45-transparent h4,
.dpu-bg-dark-blue-45-transparent h5,
.dpu-bg-dark-blue-45-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-40 {
  background-color: #77b3ef;
}
.dpu-bg-dark-blue-40-transparent {
  background: rgba(var(--sec-blue), 0.4);
}
.dpu-bg-dark-blue-40-transparent h1,
.dpu-bg-dark-blue-40-transparent h2,
.dpu-bg-dark-blue-40-transparent h3,
.dpu-bg-dark-blue-40-transparent h4,
.dpu-bg-dark-blue-40-transparent h5,
.dpu-bg-dark-blue-40-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-35 {
  background-color: #88bdf1;
}
.dpu-bg-dark-blue-35-transparent {
  background: rgba(var(--sec-blue), 0.35);
}
.dpu-bg-dark-blue-35-transparent h1,
.dpu-bg-dark-blue-35-transparent h2,
.dpu-bg-dark-blue-35-transparent h3,
.dpu-bg-dark-blue-35-transparent h4,
.dpu-bg-dark-blue-35-transparent h5,
.dpu-bg-dark-blue-35-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-30 {
  background-color: #99c6f3;
}
.dpu-bg-dark-blue-30-transparent {
  background: rgba(var(--sec-blue), 0.3);
}
.dpu-bg-dark-blue-30-transparent h1,
.dpu-bg-dark-blue-30-transparent h2,
.dpu-bg-dark-blue-30-transparent h3,
.dpu-bg-dark-blue-30-transparent h4,
.dpu-bg-dark-blue-30-transparent h5,
.dpu-bg-dark-blue-30-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-25 {
  background-color: #aad0f5;
}
.dpu-bg-dark-blue-25-transparent {
  background: rgba(var(--sec-blue), 0.25);
}
.dpu-bg-dark-blue-25-transparent h1,
.dpu-bg-dark-blue-25-transparent h2,
.dpu-bg-dark-blue-25-transparent h3,
.dpu-bg-dark-blue-25-transparent h4,
.dpu-bg-dark-blue-25-transparent h5,
.dpu-bg-dark-blue-25-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-20 {
  background-color: #bbd9f7;
}
.dpu-bg-dark-blue-20-transparent {
  background: rgba(var(--sec-blue), 0.2);
}
.dpu-bg-dark-blue-20-transparent h1,
.dpu-bg-dark-blue-20-transparent h2,
.dpu-bg-dark-blue-20-transparent h3,
.dpu-bg-dark-blue-20-transparent h4,
.dpu-bg-dark-blue-20-transparent h5,
.dpu-bg-dark-blue-20-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-15 {
  background-color: #cce3f9;
}
.dpu-bg-dark-blue-15-transparent {
  background: rgba(var(--sec-blue), 0.15);
}
.dpu-bg-dark-blue-15-transparent h1,
.dpu-bg-dark-blue-15-transparent h2,
.dpu-bg-dark-blue-15-transparent h3,
.dpu-bg-dark-blue-15-transparent h4,
.dpu-bg-dark-blue-15-transparent h5,
.dpu-bg-dark-blue-15-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-dark-blue-10 {
  background-color: #ddecfb;
}
.dpu-bg-dark-blue-10-transparent {
  background: rgba(var(--sec-blue), 0.1);
}
.dpu-bg-dark-blue-10-transparent h1,
.dpu-bg-dark-blue-10-transparent h2,
.dpu-bg-dark-blue-10-transparent h3,
.dpu-bg-dark-blue-10-transparent h4,
.dpu-bg-dark-blue-10-transparent h5,
.dpu-bg-dark-blue-10-transparent h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-red {
  background: rgba(var(--red), 1);
}
.dpu-bg-red-100 {
  background-color: #af272f;
}
.dpu-bg-red-100-transparent {
  background: rgba(var(--red), 1);
}
.dpu-bg-red-100-transparent h1,
.dpu-bg-red-100-transparent h2,
.dpu-bg-red-100-transparent h3,
.dpu-bg-red-100-transparent h4,
.dpu-bg-red-100-transparent h5,
.dpu-bg-red-100-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-95 {
  background-color: #bb2a32;
}
.dpu-bg-red-95-transparent {
  background: rgba(var(--red), 0.95);
}
.dpu-bg-red-95-transparent h1,
.dpu-bg-red-95-transparent h2,
.dpu-bg-red-95-transparent h3,
.dpu-bg-red-95-transparent h4,
.dpu-bg-red-95-transparent h5,
.dpu-bg-red-95-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-90 {
  background-color: #c72c36;
}
.dpu-bg-red-90-transparent {
  background: rgba(var(--red), 0.9);
}
.dpu-bg-red-90-transparent h1,
.dpu-bg-red-90-transparent h2,
.dpu-bg-red-90-transparent h3,
.dpu-bg-red-90-transparent h4,
.dpu-bg-red-90-transparent h5,
.dpu-bg-red-90-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-85 {
  background-color: #d1313b;
}
.dpu-bg-red-85-transparent {
  background: rgba(var(--red), 0.85);
}
.dpu-bg-red-85-transparent h1,
.dpu-bg-red-85-transparent h2,
.dpu-bg-red-85-transparent h3,
.dpu-bg-red-85-transparent h4,
.dpu-bg-red-85-transparent h5,
.dpu-bg-red-85-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-80 {
  background-color: #d43d46;
}
.dpu-bg-red-80-transparent {
  background: rgba(var(--red), 0.8);
}
.dpu-bg-red-80-transparent h1,
.dpu-bg-red-80-transparent h2,
.dpu-bg-red-80-transparent h3,
.dpu-bg-red-80-transparent h4,
.dpu-bg-red-80-transparent h5,
.dpu-bg-red-80-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-75 {
  background-color: #d74952;
}
.dpu-bg-red-75-transparent {
  background: rgba(var(--red), 0.75);
}
.dpu-bg-red-75-transparent h1,
.dpu-bg-red-75-transparent h2,
.dpu-bg-red-75-transparent h3,
.dpu-bg-red-75-transparent h4,
.dpu-bg-red-75-transparent h5,
.dpu-bg-red-75-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-70 {
  background-color: #d9565d;
}
.dpu-bg-red-70-transparent {
  background: rgba(var(--red), 0.7);
}
.dpu-bg-red-70-transparent h1,
.dpu-bg-red-70-transparent h2,
.dpu-bg-red-70-transparent h3,
.dpu-bg-red-70-transparent h4,
.dpu-bg-red-70-transparent h5,
.dpu-bg-red-70-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-65 {
  background-color: #dc6269;
}
.dpu-bg-red-65-transparent {
  background: rgba(var(--red), 0.65);
}
.dpu-bg-red-65-transparent h1,
.dpu-bg-red-65-transparent h2,
.dpu-bg-red-65-transparent h3,
.dpu-bg-red-65-transparent h4,
.dpu-bg-red-65-transparent h5,
.dpu-bg-red-65-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-60 {
  background-color: #df6e74;
}
.dpu-bg-red-60-transparent {
  background: rgba(var(--red), 0.6);
}
.dpu-bg-red-60-transparent h1,
.dpu-bg-red-60-transparent h2,
.dpu-bg-red-60-transparent h3,
.dpu-bg-red-60-transparent h4,
.dpu-bg-red-60-transparent h5,
.dpu-bg-red-60-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-55 {
  background-color: #e17a80;
}
.dpu-bg-red-55-transparent {
  background: rgba(var(--red), 0.55);
}
.dpu-bg-red-55-transparent h1,
.dpu-bg-red-55-transparent h2,
.dpu-bg-red-55-transparent h3,
.dpu-bg-red-55-transparent h4,
.dpu-bg-red-55-transparent h5,
.dpu-bg-red-55-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-50 {
  background-color: #e4868c;
}
.dpu-bg-red-50-transparent {
  background: rgba(var(--red), 0.5);
}
.dpu-bg-red-50-transparent h1,
.dpu-bg-red-50-transparent h2,
.dpu-bg-red-50-transparent h3,
.dpu-bg-red-50-transparent h4,
.dpu-bg-red-50-transparent h5,
.dpu-bg-red-50-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-45 {
  background-color: #e79297;
}
.dpu-bg-red-45-transparent {
  background: rgba(var(--red), 0.45);
}
.dpu-bg-red-45-transparent h1,
.dpu-bg-red-45-transparent h2,
.dpu-bg-red-45-transparent h3,
.dpu-bg-red-45-transparent h4,
.dpu-bg-red-45-transparent h5,
.dpu-bg-red-45-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-40 {
  background-color: #e99ea3;
}
.dpu-bg-red-40-transparent {
  background: rgba(var(--red), 0.4);
}
.dpu-bg-red-40-transparent h1,
.dpu-bg-red-40-transparent h2,
.dpu-bg-red-40-transparent h3,
.dpu-bg-red-40-transparent h4,
.dpu-bg-red-40-transparent h5,
.dpu-bg-red-40-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-35 {
  background-color: #ecaaae;
}
.dpu-bg-red-35-transparent {
  background: rgba(var(--red), 0.35);
}
.dpu-bg-red-35-transparent h1,
.dpu-bg-red-35-transparent h2,
.dpu-bg-red-35-transparent h3,
.dpu-bg-red-35-transparent h4,
.dpu-bg-red-35-transparent h5,
.dpu-bg-red-35-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-30 {
  background-color: #efb6ba;
}
.dpu-bg-red-30-transparent {
  background: rgba(var(--red), 0.3);
}
.dpu-bg-red-30-transparent h1,
.dpu-bg-red-30-transparent h2,
.dpu-bg-red-30-transparent h3,
.dpu-bg-red-30-transparent h4,
.dpu-bg-red-30-transparent h5,
.dpu-bg-red-30-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-25 {
  background-color: #f2c2c5;
}
.dpu-bg-red-25-transparent {
  background: rgba(var(--red), 0.25);
}
.dpu-bg-red-25-transparent h1,
.dpu-bg-red-25-transparent h2,
.dpu-bg-red-25-transparent h3,
.dpu-bg-red-25-transparent h4,
.dpu-bg-red-25-transparent h5,
.dpu-bg-red-25-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-20 {
  background-color: #f4cfd1;
}
.dpu-bg-red-20-transparent {
  background: rgba(var(--red), 0.2);
}
.dpu-bg-red-20-transparent h1,
.dpu-bg-red-20-transparent h2,
.dpu-bg-red-20-transparent h3,
.dpu-bg-red-20-transparent h4,
.dpu-bg-red-20-transparent h5,
.dpu-bg-red-20-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-15 {
  background-color: #f7dbdc;
}
.dpu-bg-red-15-transparent {
  background: rgba(var(--red), 0.15);
}
.dpu-bg-red-15-transparent h1,
.dpu-bg-red-15-transparent h2,
.dpu-bg-red-15-transparent h3,
.dpu-bg-red-15-transparent h4,
.dpu-bg-red-15-transparent h5,
.dpu-bg-red-15-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-10 {
  background-color: #fae7e8;
}
.dpu-bg-red-10-transparent {
  background: rgba(var(--red), 0.1);
}
.dpu-bg-red-10-transparent h1,
.dpu-bg-red-10-transparent h2,
.dpu-bg-red-10-transparent h3,
.dpu-bg-red-10-transparent h4,
.dpu-bg-red-10-transparent h5,
.dpu-bg-red-10-transparent h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-white {
  background: rgba(var(--white), 1);
}
.dpu-bg-gray {
  background: rgba(var(--gray), 1);
}
.dpu-bg-gray-100 {
  background-color: #565656;
}
.dpu-bg-gray-100-transparent {
  background: rgba(var(--gray), 1);
}
.dpu-bg-gray-100-transparent h1,
.dpu-bg-gray-100-transparent h2,
.dpu-bg-gray-100-transparent h3,
.dpu-bg-gray-100-transparent h4,
.dpu-bg-gray-100-transparent h5,
.dpu-bg-gray-100-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-95 {
  background-color: #5e5e5e;
}
.dpu-bg-gray-95-transparent {
  background: rgba(var(--gray), 0.95);
}
.dpu-bg-gray-95-transparent h1,
.dpu-bg-gray-95-transparent h2,
.dpu-bg-gray-95-transparent h3,
.dpu-bg-gray-95-transparent h4,
.dpu-bg-gray-95-transparent h5,
.dpu-bg-gray-95-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-90 {
  background-color: #676767;
}
.dpu-bg-gray-90-transparent {
  background: rgba(var(--gray), 0.9);
}
.dpu-bg-gray-90-transparent h1,
.dpu-bg-gray-90-transparent h2,
.dpu-bg-gray-90-transparent h3,
.dpu-bg-gray-90-transparent h4,
.dpu-bg-gray-90-transparent h5,
.dpu-bg-gray-90-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-85 {
  background-color: #6f6f6f;
}
.dpu-bg-gray-85-transparent {
  background: rgba(var(--gray), 0.85);
}
.dpu-bg-gray-85-transparent h1,
.dpu-bg-gray-85-transparent h2,
.dpu-bg-gray-85-transparent h3,
.dpu-bg-gray-85-transparent h4,
.dpu-bg-gray-85-transparent h5,
.dpu-bg-gray-85-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-80 {
  background-color: #787878;
}
.dpu-bg-gray-80-transparent {
  background: rgba(var(--gray), 0.8);
}
.dpu-bg-gray-80-transparent h1,
.dpu-bg-gray-80-transparent h2,
.dpu-bg-gray-80-transparent h3,
.dpu-bg-gray-80-transparent h4,
.dpu-bg-gray-80-transparent h5,
.dpu-bg-gray-80-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-75 {
  background-color: gray;
}
.dpu-bg-gray-75-transparent {
  background: rgba(var(--gray), 0.75);
}
.dpu-bg-gray-75-transparent h1,
.dpu-bg-gray-75-transparent h2,
.dpu-bg-gray-75-transparent h3,
.dpu-bg-gray-75-transparent h4,
.dpu-bg-gray-75-transparent h5,
.dpu-bg-gray-75-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-70 {
  background-color: #898989;
}
.dpu-bg-gray-70-transparent {
  background: rgba(var(--gray), 0.7);
}
.dpu-bg-gray-70-transparent h1,
.dpu-bg-gray-70-transparent h2,
.dpu-bg-gray-70-transparent h3,
.dpu-bg-gray-70-transparent h4,
.dpu-bg-gray-70-transparent h5,
.dpu-bg-gray-70-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-65 {
  background-color: #919191;
}
.dpu-bg-gray-65-transparent {
  background: rgba(var(--gray), 0.65);
}
.dpu-bg-gray-65-transparent h1,
.dpu-bg-gray-65-transparent h2,
.dpu-bg-gray-65-transparent h3,
.dpu-bg-gray-65-transparent h4,
.dpu-bg-gray-65-transparent h5,
.dpu-bg-gray-65-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-60 {
  background-color: #9a9a9a;
}
.dpu-bg-gray-60-transparent {
  background: rgba(var(--gray), 0.6);
}
.dpu-bg-gray-60-transparent h1,
.dpu-bg-gray-60-transparent h2,
.dpu-bg-gray-60-transparent h3,
.dpu-bg-gray-60-transparent h4,
.dpu-bg-gray-60-transparent h5,
.dpu-bg-gray-60-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-55 {
  background-color: #a2a2a2;
}
.dpu-bg-gray-55-transparent {
  background: rgba(var(--gray), 0.55);
}
.dpu-bg-gray-55-transparent h1,
.dpu-bg-gray-55-transparent h2,
.dpu-bg-gray-55-transparent h3,
.dpu-bg-gray-55-transparent h4,
.dpu-bg-gray-55-transparent h5,
.dpu-bg-gray-55-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-50 {
  background-color: #ababab;
}
.dpu-bg-gray-50-transparent {
  background: rgba(var(--gray), 0.5);
}
.dpu-bg-gray-50-transparent h1,
.dpu-bg-gray-50-transparent h2,
.dpu-bg-gray-50-transparent h3,
.dpu-bg-gray-50-transparent h4,
.dpu-bg-gray-50-transparent h5,
.dpu-bg-gray-50-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-45 {
  background-color: #b3b3b3;
}
.dpu-bg-gray-45-transparent {
  background: rgba(var(--gray), 0.45);
}
.dpu-bg-gray-45-transparent h1,
.dpu-bg-gray-45-transparent h2,
.dpu-bg-gray-45-transparent h3,
.dpu-bg-gray-45-transparent h4,
.dpu-bg-gray-45-transparent h5,
.dpu-bg-gray-45-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-40 {
  background-color: #bbbbbb;
}
.dpu-bg-gray-40-transparent {
  background: rgba(var(--gray), 0.4);
}
.dpu-bg-gray-40-transparent h1,
.dpu-bg-gray-40-transparent h2,
.dpu-bg-gray-40-transparent h3,
.dpu-bg-gray-40-transparent h4,
.dpu-bg-gray-40-transparent h5,
.dpu-bg-gray-40-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-35 {
  background-color: #c4c4c4;
}
.dpu-bg-gray-35-transparent {
  background: rgba(var(--gray), 0.35);
}
.dpu-bg-gray-35-transparent h1,
.dpu-bg-gray-35-transparent h2,
.dpu-bg-gray-35-transparent h3,
.dpu-bg-gray-35-transparent h4,
.dpu-bg-gray-35-transparent h5,
.dpu-bg-gray-35-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-30 {
  background-color: #cccccc;
}
.dpu-bg-gray-30-transparent {
  background: rgba(var(--gray), 0.3);
}
.dpu-bg-gray-30-transparent h1,
.dpu-bg-gray-30-transparent h2,
.dpu-bg-gray-30-transparent h3,
.dpu-bg-gray-30-transparent h4,
.dpu-bg-gray-30-transparent h5,
.dpu-bg-gray-30-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-25 {
  background-color: #d5d5d5;
}
.dpu-bg-gray-25-transparent {
  background: rgba(var(--gray), 0.25);
}
.dpu-bg-gray-25-transparent h1,
.dpu-bg-gray-25-transparent h2,
.dpu-bg-gray-25-transparent h3,
.dpu-bg-gray-25-transparent h4,
.dpu-bg-gray-25-transparent h5,
.dpu-bg-gray-25-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-20 {
  background-color: #dddddd;
}
.dpu-bg-gray-20-transparent {
  background: rgba(var(--gray), 0.2);
}
.dpu-bg-gray-20-transparent h1,
.dpu-bg-gray-20-transparent h2,
.dpu-bg-gray-20-transparent h3,
.dpu-bg-gray-20-transparent h4,
.dpu-bg-gray-20-transparent h5,
.dpu-bg-gray-20-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-15 {
  background-color: #e6e6e6;
}
.dpu-bg-gray-15-transparent {
  background: rgba(var(--gray), 0.15);
}
.dpu-bg-gray-15-transparent h1,
.dpu-bg-gray-15-transparent h2,
.dpu-bg-gray-15-transparent h3,
.dpu-bg-gray-15-transparent h4,
.dpu-bg-gray-15-transparent h5,
.dpu-bg-gray-15-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-10 {
  background-color: #eeeeee;
}
.dpu-bg-gray-10-transparent {
  background: rgba(var(--gray), 0.1);
}
.dpu-bg-gray-10-transparent h1,
.dpu-bg-gray-10-transparent h2,
.dpu-bg-gray-10-transparent h3,
.dpu-bg-gray-10-transparent h4,
.dpu-bg-gray-10-transparent h5,
.dpu-bg-gray-10-transparent h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}

.tint {
  flex: 1 1 auto;
  margin: 1px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 150px;
}
.tint .tint-label {
  display: flex;
  justify-content: flex-end;
  color: #565656;
  font-size: 0.75rem;
}
.tint .bc-blue-tint {
  height: 5rem;
  margin: 1px 0;
}
.tint .bc-red-tint {
  height: 3rem;
  margin: 1px 0;
}
.tint .bc-dark-blue-tint {
  height: 4rem;
  margin: 1px 0;
}

.text-blue {
  color: rgba(var(--pri-blue), 1);
}
.text-red {
  color: rgba(var(--red), 1);
}
.text-dark-blue {
  color: rgba(var(--sec-blue), 1);
}
.text-gray {
  color: rgba(var(--gray), 1);
}
.text-white {
  color: rgba(var(--white), 1);
}

.border-blue {
  border: 1px solid rgba(var(--pri-blue));
}
.border-dark-blue {
  border: 1px solid rgba(var(--sec-blue));
}
.border-red {
  border: 1px solid rgba(var(--red));
}
.border-gray {
  border: 1px solid rgba(var(--gray));
}

@font-face {
  font-family: "DIN Pro Bold";
  src: url("./fonts/DINPro/DINPro-CondBold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "DIN Pro";
  src: url("./fonts/DINPro/DINPro-Cond.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "DIN Pro Black";
  src: url("./fonts/DINPro/DINPro-Black.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
  font-weight: normal;
}
.homepage {
  color: rgba(var(--sec-blue), 1);
  text-transform: uppercase;
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5rem 0;
  font-family: "DIN Pro Bold";
  color: rgba(var(--pri-blue), 1);
  line-height: 1.25;
}

h4,
h5,
h6 {
  font-family: "Roboto Bold";
  color: rgba(var(--gray), 1);
}

p {
  font-family: "Roboto";
  color: rgba(var(--gray), 1);
}

a {
  color: rgba(var(--pri-blue), 1);
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.63rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.38rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.32rem;
}

h1.rollup,
h2.rollup,
h3.rollup,
h4.rollup,
h5.rollup,
h6.rollup {
  border-bottom: 3px solid rgba(var(--sec-blue), 1);
}

#typography .font-stacks p {
  font-size: 2.4rem;
  margin: 0;
}

p.din, p.roboto {
  color: #565656;
}
p.din {
  font-family: "DIN Pro";
}
p.din strong {
  font-family: "DIN Pro Bold";
}
p.din.black {
  font-family: "DIN Pro Black";
}
p.roboto {
  font-family: "Roboto";
}
p.roboto strong {
  font-family: "Roboto Bold";
}

.cam-case {
  text-transform: capitalize !important;
}

a {
  font-family: "Roboto";
}

.container-1920, .container-1440, .container-1200, .container-1080, .container-900,
.wrap-1920,
.wrap-1440,
.wrap-1200,
.wrap-1080,
.wrap-900 {
  margin: 1rem auto;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: rgba(var(--gray), 1);
}
.container-1920,
.wrap-1920 {
  max-width: 1920px;
}
.container-1440,
.wrap-1440 {
  max-width: 1440px;
}
.container-1200,
.wrap-1200 {
  max-width: 1200px;
}
.container-1080,
.wrap-1080 {
  max-width: 1080px;
}
.container-900,
.wrap-900 {
  max-width: 900px;
}

#containers .container-xl, #containers .container-1920, #containers .container-lg, #containers .container-1440, #containers .container-md, #containers .container-1200, #containers .container-sm, #containers .container-1080, #containers .container-xs, #containers .container-900,
#containers .wrap-xl,
#containers .wrap-1920,
#containers .wrap-lg,
#containers .wrap-1440,
#containers .wrap-md,
#containers .wrap-1200,
#containers .wrap-sm,
#containers .wrap-1080,
#containers .wrap-xs,
#containers .wrap-900 {
  height: 100px;
}
#containers .container-xl p, #containers .container-1920 p, #containers .container-lg p, #containers .container-1440 p, #containers .container-md p, #containers .container-1200 p, #containers .container-sm p, #containers .container-1080 p, #containers .container-xs p, #containers .container-900 p,
#containers .wrap-xl p,
#containers .wrap-1920 p,
#containers .wrap-lg p,
#containers .wrap-1440 p,
#containers .wrap-md p,
#containers .wrap-1200 p,
#containers .wrap-sm p,
#containers .wrap-1080 p,
#containers .wrap-xs p,
#containers .wrap-900 p {
  margin-bottom: 0;
}

.btn {
  font-family: "Roboto";
  font-size: 1.25rem;
  border-radius: 0;
  background: rgba(var(--pri-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.white {
  background: rgba(var(--white), 1);
  color: rgba(var(--white), 1);
}
.btn.white-ghost {
  border: 3px solid rgba(var(--white), 1);
  background: transparent;
  color: rgba(var(--white), 1);
}
.btn.white-ghost:hover {
  background: rgba(var(--white), 1);
  color: rgba(var(--white), 1);
  background: rgba(var(--sec-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.white-ghost-shadow {
  border: 3px solid rgba(var(--white), 1);
  background: transparent;
  color: rgba(var(--white), 1);
  box-shadow: 5px 5px 0 -1px rgba(var(--white), 1) !important;
}
.btn.white-ghost-shadow:hover {
  background: rgba(var(--white), 1);
  color: rgba(var(--white), 1);
  background: rgba(var(--sec-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.red {
  background: rgba(var(--red), 1);
  color: rgba(var(--white), 1);
}
.btn.red-ghost {
  border: 3px solid rgba(var(--red), 1);
  background: transparent;
  color: rgba(var(--red), 1);
}
.btn.red-ghost:hover {
  background: rgba(var(--red), 1);
  color: rgba(var(--white), 1);
}
.btn.red-ghost-shadow {
  border: 3px solid rgba(var(--red), 1);
  background: transparent;
  color: rgba(var(--red), 1);
  box-shadow: 5px 5px 0 -1px rgba(var(--red), 1) !important;
}
.btn.red-ghost-shadow:hover {
  background: rgba(var(--red), 1);
  color: rgba(var(--white), 1);
}
.btn.blue {
  background: rgba(var(--pri-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.blue-ghost {
  border: 3px solid rgba(var(--pri-blue), 1);
  background: transparent;
  color: rgba(var(--pri-blue), 1);
}
.btn.blue-ghost:hover {
  background: rgba(var(--pri-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.blue-ghost-shadow {
  border: 3px solid rgba(var(--pri-blue), 1);
  background: transparent;
  color: rgba(var(--pri-blue), 1);
  box-shadow: 5px 5px 0 -1px rgba(var(--pri-blue), 1) !important;
}
.btn.blue-ghost-shadow:hover {
  background: rgba(var(--pri-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.blue-dark {
  background: rgba(var(--sec-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.blue-dark-ghost {
  border: 3px solid rgba(var(--sec-blue), 1);
  background: transparent;
  color: rgba(var(--sec-blue), 1);
}
.btn.blue-dark-ghost:hover {
  background: rgba(var(--sec-blue), 1);
  color: rgba(var(--white), 1);
}
.btn.blue-dark-ghost-shadow {
  border: 3px solid rgba(var(--sec-blue), 1);
  background: transparent;
  color: rgba(var(--sec-blue), 1);
  box-shadow: 5px 5px 0 -1px rgba(var(--sec-blue), 1) !important;
}
.btn.blue-dark-ghost-shadow:hover {
  background: rgba(var(--sec-blue), 1);
  color: rgba(var(--white), 1);
}

#hero-container {
  max-width: 1920px;
  margin: 0 auto;
}
#hero-container .chevron {
  clip-path: polygon(100% 0, 100% 86%, 65% 100%, 0 86%, 0 0);
  background: url(https://via.placeholder.com/1920x950) 50% 50%/cover no-repeat;
  height: 600px;
  z-index: 90;
  position: relative;
}
@media screen and (max-width: 820px) {
  #hero-container .chevron {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 50vh;
  }
}
@media screen and (max-width: 414px) {
  #hero-container .chevron {
    height: 30vh;
  }
}
#hero-container #text-content {
  position: relative;
  top: -190px;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content {
    top: 0;
    display: block !important;
    padding: 0;
  }
}
#hero-container #text-content .hero-text {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text {
    padding: 0;
    max-width: 100%;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text .hero-content {
    padding: 0;
    flex: 0 0 auto;
    max-width: 60%;
    background: rgba(var(--pri-blue), 1);
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text .hero-content {
    max-width: 100%;
  }
}
#hero-container #text-content .hero-text .hero-content .hero-title {
  background: rgba(var(--pri-blue), 0.75);
  z-index: 100;
  position: relative;
  padding: 1rem 1.5rem;
  width: 595px;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text .hero-content .hero-title {
    width: 100%;
    background: rgba(var(--pri-blue), 1);
  }
}
#hero-container #text-content .hero-text .hero-content .hero-title h1 {
  font-family: "DIN Pro bold";
  font-weight: normal;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1200px) {
  #hero-container #text-content .hero-text .hero-content .hero-title h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text .hero-content .hero-title h1 {
    font-size: 2rem;
  }
}
#hero-container #text-content .cta {
  background: rgba(var(--sec-blue), 1);
  z-index: 80;
  position: relative;
  display: flex;
  align-items: end;
  color: #fff;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  #hero-container #text-content .cta {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .cta {
    flex: 0 0 auto;
    max-width: 40% !important;
    height: auto;
    align-items: center;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .cta {
    max-width: 100% !important;
  }
}
#hero-container #text-content .cta div {
  padding-top: 11rem;
}
#hero-container #text-content .cta p {
  font-family: "DIN Pro";
  font-weight: normal;
  font-size: 1.75rem;
  margin: 0;
}
#hero-container #text-content .cta a {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: underline;
}

.triangle-1 {
  clip-path: polygon(64.76% 0px, 100% 15.5%, 100% 100%, 0px 100%, 0% 17%);
  padding: 8rem 0;
  position: relative;
  background: linear-gradient(180deg, rgba(26, 76, 141, 0) 60.42%, rgba(var(--sec-blue), 0.75) 88.54%), rgba(var(--pri-blue), 0.75) url("https://picsum.photos/900/600") center/cover;
  background-blend-mode: overlay;
}
.triangle-1 .btn {
  font-size: 2.35rem;
}

.triangle-2 {
  clip-path: polygon(67.03% 14.83%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  height: 400px;
  position: relative;
  background: linear-gradient(180deg, rgba(26, 76, 141, 0) 60.42%, rgba(var(--sec-blue), 0.75) 88.54%), rgba(var(--pri-blue), 0.75) url("https://picsum.photos/900/600") center/cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
}
.triangle-2 a {
  font-size: 1.25rem;
}

.triangle-3 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 31.13% 78.5%, 0% 100%);
  padding: 3rem 0 8rem;
  position: relative;
  background: rgba(var(--pri-blue));
  background-blend-mode: overlay;
}
.triangle-3 p {
  font-size: 1.75rem;
}

.triangle-1 .header,
.triangle-2 .header,
.triangle-3 .header {
  font-size: 58px;
}

.img-header-bg {
  background: url("https://picsum.photos/1920/400") center center/cover;
  background-color: rgba(var(--gray), 0.5);
  background-blend-mode: overlay;
  padding: 6rem 0;
  text-align: center;
}
.img-header-bg h1,
.img-header-bg h2,
.img-header-bg h3,
.img-header-bg h4,
.img-header-bg h5,
.img-header-bg h6 {
  text-transform: uppercase;
  border-bottom: 2px solid white;
  box-shadow: 0px 2px 0px rgba(var(--sec-blue), 0.8);
  font-size: 3rem;
}
.img-header-bg p {
  padding: 1rem;
  font-size: 1.75rem;
}
.img-header-bg .no-border {
  border: none !important;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.img-header-bg .big {
  font-size: 3.25rem;
}

.img-header, .img-header-wide {
  max-width: 100%;
  height: 600px;
  position: relative;
  background: linear-gradient(31.6deg, rgba(0, 93, 186, 0.75) 27.08%, rgba(0, 93, 186, 0) 46.04%), rgba(196, 196, 196, 0.75) url("https://picsum.photos/900/600") center/cover;
  background-blend-mode: hard-light, normal;
}
@media screen and (max-width: 820px) {
  .img-header, .img-header-wide {
    height: 400px;
  }
}
@media screen and (max-width: 414px) {
  .img-header, .img-header-wide {
    height: 300px;
  }
}
.img-header h1, .img-header-wide h1 {
  position: absolute;
  z-index: 100;
  left: 20px;
  bottom: 0;
}
.img-header-wide {
  height: 353px;
}

.clip, .clip-right-bottom, .clip-right-top, .clip-left-bottom, .clip-left-top {
  box-sizing: border-box;
}
.clip-left-top {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.clip-left-bottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}
.clip-right-top {
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}
.clip-right-bottom {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.img-container {
  background: url(https://via.placeholder.com/1200) center/cover;
}

.card {
  border-radius: 0;
  border: 1px solid rgba(var(--pri-blue));
}
.card .card-title {
  margin: 0 0 0.5rem;
  padding: 0;
}
.card .card-body {
  padding: 2rem 2rem;
}
.card .card-body .card-text {
  font-size: 1.3rem;
  line-height: 1.5;
}
.card .card-footer {
  border-radius: 0;
  background: rgba(var(--white));
  border-top: 1px solid rgba(var(--pri-blue));
  font-family: "Roboto";
  font-size: 1.3rem;
  text-decoration: none;
  padding: 1rem;
}
.card .card-footer:hover {
  background: rgba(var(--pri-blue), 0.75);
  color: rgba(var(--white));
}

.accordion-item,
.accordion-item:last-child {
  border-bottom: 1px solid rgba(var(--pri-blue)) !important;
}
.accordion-item .accordion-header .accordion-button,
.accordion-item:last-child .accordion-header .accordion-button {
  font-family: "DIN pro bold";
  padding: 0;
  font-size: 1.5rem;
  color: rgba(var(--sec-blue));
  background: white;
  justify-content: space-between;
}
.accordion-item .accordion-header .accordion-button .bi.bi-plus,
.accordion-item:last-child .accordion-header .accordion-button .bi.bi-plus {
  transition: 0.25s all;
  font-size: 2.5rem;
  color: rgba(var(--pri-blue));
}
.accordion-item .accordion-header .accordion-button.collapsed,
.accordion-item:last-child .accordion-header .accordion-button.collapsed {
  font-weight: normal;
}
.accordion-item .accordion-header .accordion-button:not(.collapsed),
.accordion-item:last-child .accordion-header .accordion-button:not(.collapsed) {
  font-weight: bold;
  box-shadow: inset 0 -1px 0 rgba(var(--pri-blue));
}
.accordion-item .accordion-header .accordion-button:not(.collapsed) .bi.bi-plus,
.accordion-item:last-child .accordion-header .accordion-button:not(.collapsed) .bi.bi-plus {
  transform: rotate(45deg);
}
.accordion-item .accordion-header .accordion-button::after,
.accordion-item:last-child .accordion-header .accordion-button::after {
  display: none;
}
.accordion-item .accordion-body,
.accordion-item:last-child .accordion-body {
  padding: 1rem 0;
  font-family: "Roboto";
}

.footer {
  background: rgba(var(--sec-blue));
  text-align: center;
  color: #d3d3d3 !important;
  margin-top: 0 !important;
  padding-bottom: 0;
}
.footer a,
.footer p {
  color: rgba(var(--white));
  font-size: 1.25rem;
  line-height: 1.8;
}
.footer .fab {
  width: 48px;
  height: 48px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.footer .copyright {
  font-family: "Roboto";
  font-size: 1rem;
}
.footer .copyright a {
  font-size: 1rem;
  text-decoration: none;
}

/*# sourceMappingURL=_main.css.map */
