// #buttons
@mixin color($color) {
	background: $color;
	color: var(--white);
}
@mixin ghost($color) {
	box-shadow: 5px 5px 0 -1px $color;
	border: 3px solid $color;
	background: transparent;
	color: $color;
}
@mixin hover($color) {
	background: $color;
	color: var(--white);
}

.btn {
	font-family: 'Roboto';
	font-size: 1.25rem;
	border-radius: 0;

	&.red {
		@include color(var(--red));
		&.ghost {
			@include ghost(var(--red));
			&:hover {
				@include hover(var(--red));
			}
		}
	}
	&.blue {
		@include color(var(--pri-blue));
		&.ghost {
			@include ghost(var(--pri-blue));
			&:hover {
				@include hover(var(--pri-blue));
			}
		}
		&.dark {
			@include color(var(--sec-blue));
			&.ghost {
				@include ghost(var(--sec-blue));
				&:hover {
					@include hover(var(--sec-blue));
				}
			}
		}
	}
}
