// #buttons
@mixin color($color) {
	background: $color;
	color: rgba(var(--white), 1);
}
@mixin ghost($color) {
	box-shadow: 5px 5px 0 -1px $color;
	border: 3px solid $color;
	background: transparent;
	color: $color;
}
@mixin hover($color) {
	background: $color;
	color: rgba(var(--white), 1);
}

.btn {
	font-family: 'Roboto';
	font-size: 1.25rem;
	border-radius: 0;

	&.red {
		@include color(rgba(var(--red), 1));
		&.ghost {
			@include ghost(rgba(var(--red), 1));
			&:hover {
				@include hover(rgba(var(--red), 1));
			}
		}
	}
	&.blue {
		@include color(rgba(var(--pri-blue), 1));
		&.ghost {
			@include ghost(rgba(var(--pri-blue), 1));
			&:hover {
				@include hover(rgba(var(--pri-blue), 1));
			}
		}
		&.dark {
			@include color(rgba(var(--sec-blue), 1));
			&.ghost {
				@include ghost(rgba(var(--sec-blue), 1));
				&:hover {
					@include hover(rgba(var(--sec-blue), 1));
				}
			}
		}
	}
}
