// #buttons

.btn {
	font-family: 'Roboto';
	font-size: 1.25rem;
	border-radius: 0;
	@include btn-color(var(--pri-blue));

	&.white {
		@include btn-color(var(--white));
		&-ghost {
			@include ghost(var(--white));
			&:hover {
				@include btn-color(var(--white));
				@include hover(var(--sec-blue));
			}
			&-shadow {
				@include shadow(var(--white));
				&:hover {
					@include btn-color(var(--white));
					@include hover(var(--sec-blue));
				}
			}
		}
	}
	&.red {
		@include btn-color(var(--red));
		&-ghost {
			@include ghost(var(--red));
			&:hover {
				@include hover(var(--red));
			}
			&-shadow {
				@include shadow(var(--red));
				&:hover {
					@include hover(var(--red));
				}
			}
		}
	}
	&.blue {
		@include btn-color(var(--pri-blue));
		&-ghost {
			@include ghost(var(--pri-blue));
			&:hover {
				@include hover(var(--pri-blue));
			}
			&-shadow {
				@include shadow(var(--pri-blue));
				&:hover {
					@include hover(var(--pri-blue));
				}
			}
		}
		&-dark {
			@include btn-color(var(--sec-blue));
			&-ghost {
				@include ghost(var(--sec-blue));
				&:hover {
					@include hover(var(--sec-blue));
				}
				&-shadow {
					@include shadow(var(--sec-blue));
					&:hover {
						@include hover(var(--sec-blue));
					}
				}
			}
		}
	}
}
