// colors
@mixin text($color) {
	color: rgba($color, 1);
}
@mixin bg($color) {
	background: rgba($color, 1);
}
@mixin border($size, $color) {
	border: $size solid rgba($color);
}

.bc-palette,
.bc-backgrounds,
.bc-text {
	display: flex;
	flex-flow: row wrap;
	.bc-color-chip {
		text-align: center;
		padding: 3rem;
		margin: 1rem;
		// &:nth-child(1n + 2) {
		// 	margin-left: 20px;
		// }
	}
}

.dpu-bg {
	&-blue {
		@include bg(var(--pri-blue));
	}
	&-dark-blue {
		@include bg(var(--sec-blue));
	}
	&-red {
		@include bg(var(--red));
	}
	&-white {
		@include bg(var(--white));
	}
	&-gray {
		@include bg(var(--gray));
	}
}
.text {
	&-blue {
		color: rgba(var(--pri-blue), 1);
	}
	&-red {
		color: rgba(var(--red), 1);
	}
	&-dark-blue {
		color: rgba(var(--sec-blue), 1);
	}
	&-gray {
		color: rgba(var(--gray), 1);
	}
	&-white {
		color: rgba(var(--white), 1);
	}
}

.border {
	&-blue {
		@include border(1px, var(--pri-blue));
	}
	&-dark-blue {
		@include border(1px, var(--sec-blue));
	}
	&-red {
		@include border(1px, var(--red));
	}
	&-gray {
		@include border(1px, var(--gray));
	}
}
