#colors {
	// colors
	.color-chip {
		text-align: center;
		padding: 3rem;
		&:nth-child(1n + 2) {
			margin-left: 20px;
		}

		&.pri-blue {
			color: rgba(var(--white), 1);
			background: rgba(var(--pri-blue), 1);
		}
		&.sec-blue {
			color: rgba(var(--white), 1);
			background: rgba(var(--sec-blue), 1);
		}
		&.red {
			color: rgba(var(--white), 1);
			background: rgba(var(--red), 1);
		}
		&.white {
			color: rgba(var(--pri-blue), 1);
			background: rgba(var(--white), 1);
			border: 1px solid rgba(var(--pri-blue), 1);
		}
		&.gray {
			color: rgba(var(--white), 1);
			background: rgba(var(--gray), 1);
		}
	}
	.text {
		text-align: center;
		padding: 3rem;
		border: 1px solid;
		&:nth-child(1n + 2) {
			margin-left: 20px;
		}
		&.pri-blue {
			border-color: rgba(var(--pri-blue), 1);
			color: rgba(var(--pri-blue), 1);
		}
		&.red {
			border-color: rgba(var(--red), 1);
			color: rgba(var(--red), 1);
		}
		&.sec-blue {
			border-color: rgba(var(--sec-blue), 1);
			color: rgba(var(--sec-blue), 1);
		}
		&.gray {
			border-color: rgba(var(--gray), 1);
			color: rgba(var(--gray), 1);
		}
		&.white {
			background: rgba(var(--pri-blue), 1);
			color: rgba(var(--white), 1);
		}
	}
}
