// colors
.color-chip {
	text-align: center;
	padding: 3rem;
	&:nth-child(1n + 2) {
		margin-left: 20px;
	}

	&.pri-blue {
		color: var(--white);
		background: var(--pri-blue);
	}
	&.sec-blue {
		color: var(--white);
		background: var(--sec-blue);
	}
	&.red {
		color: var(--white);
		background: var(--red);
	}
	&.white {
		color: var(--pri-blue);
		background: var(--white);
		border: 1px solid var(--pri-blue);
	}
	&.gray {
		color: var(--white);
		background: var(--gray);
	}
}
.text {
	text-align: center;
	padding: 3rem;
	border: 1px solid;
	&:nth-child(1n + 2) {
		margin-left: 20px;
	}
	&.pri-blue {
		border-color: var(--pri-blue);
		color: var(--pri-blue);
	}
	&.red {
		border-color: var(--red);
		color: var(--red);
	}
	&.sec-blue {
		border-color: var(--sec-blue);
		color: var(--sec-blue);
	}
	&.gray {
		border-color: var(--gray);
		color: var(--gray);
	}
	&.white {
		background: var(--pri-blue);
		color: var(--white);
	}
}
