.container {
	&-xl,
	&-lg,
	&-md,
	&-sm,
	&-xs {
		margin: 1rem auto;
		font-family: 'Roboto';
		font-size: 1.2rem;
		color: rgba(var(--gray), 1);
	}

	&-xl {
		max-width: 1920px;
	}
	&-lg {
		max-width: 1440px;
	}
	&-md {
		max-width: 1200px;
	}
	&-sm {
		max-width: 1080px;
	}
	&-xs {
		max-width: 900px;
	}
}

#containers {
	.container {
		&-xl,
		&-lg,
		&-md,
		&-sm,
		&-xs {
			height: 100px;
		}
	}
}
