// root
:root {
	--pri-blue: 0, 87, 183;
	--sec-blue: 14, 65, 116;
	--red: 175, 39, 47;
	--white: 255, 255, 255;
	--gray: 86, 86, 86;
}

// base rules
@import 'mixins';

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	margin: 0;
	font-size: 16px;
}

.bc-h {
	&1 {
		@include h(52px);
	}
	&2 {
		@include h(48px);
	}
	&3 {
		@include h(36px);
	}
	&4 {
		// @include h();
	}
	&5 {
		// @include h();
	}
	&6 {
		// @include h();
	}
}

.bc-height {
	height: 100px;
}

// layout rules
main {
	background: rgba(var(--white), 1);
	padding: 10px 0;
	section {
		header {
			border-bottom: 1px solid rgba(var(--red), 1);
			padding: 1rem 0;
			&#main-header {
				border-bottom: none;
				margin: 30px 0;
				h1 {
					// font-size: 2.2rem;
				}
			}
			h2 {
				// font-size: 3rem;
			}
		}
		div {
			h3 {
				padding: 1rem 0;
			}
		}
	}
}

// module rules
@import 'colors';
@import 'fonts';
@import 'typography';
@import 'containers';
@import 'buttons';
@import 'uhe';
@import 'panels';
@import 'webparts';
