// video and image headers
.img-header-bg {
	background-image: url('https://picsum.photos/1920/400') center center/cover;
	background-color: rgba(var(--gray), 0.5);
	background-blend-mode: overlay;
	padding: 6rem 0;
	text-align: center;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: uppercase;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
		border-bottom: 2px solid white;
		box-shadow: 0px 2px 0px rgba(var(--sec-blue), 0.8);
	}
	p {
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
		padding: 1rem;
	}
}

//internal page img header
.img-header {
	background: url('https://picsum.photos/900/600') center / cover;
	max-width: 100%;
	height: 600px;
	position: relative;

	@include screen-max($screen-md) {
		height: 400px;
	}
	@include screen-max($screen-sm) {
		height: 300px;
	}

	h1 {
		position: absolute;
		z-index: 100;
		left: 20px;
		bottom: 0;
	}
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(
				31.6deg,
				rgba(0, 93, 186, 0.75) 27.08%,
				rgba(0, 93, 186, 0) 46.04%
			),
			rgba(196, 196, 196, 0.75);
		background-blend-mode: hard-light, normal;
	}
}

// triangle page
.clip {
	box-sizing: border-box;
	&-left {
		&-top {
			@extend .clip;
			@include left-top;
		}
		&-bottom {
			@extend .clip;
			@include left-bottom;
		}
	}
	&-right {
		&-top {
			@extend .clip;
			@include right-top;
		}
		&-bottom {
			@extend .clip;
			@include right-bottom;
		}
	}
}

.img-container {
	background: url(https://via.placeholder.com/1200) center / cover;
}

//cards
.card {
	border-radius: 0;
	@include border(1px, var(--pri-blue));
	.card-title {
		margin: 0 0 0.5rem;
		padding: 0;
	}
	.card-body {
		padding: 2rem 2rem;
		.card-text {
			font-size: 1.3rem;
			line-height: 1.5;
		}
	}
	.card-footer {
		border-radius: 0;
		background: rgba(var(--white));
		border-top: 1px solid rgba(var(--pri-blue));
		font-family: 'Roboto';
		font-size: 1.3rem;
		text-decoration: none;
		padding: 1rem;
		&:hover {
			background: rgba(var(--pri-blue), 0.75);
			color: rgba(var(--white));
		}
	}
}
