// web parts
// faq
.accordion-item {
	.accordion-header {
		.accordion-button {
			font-family: 'DIN pro bold';
			padding: 1rem 0;
			font-size: 1.5rem;
			color: rgba(var(--sec-blue));
			background: white;
			justify-content: space-between;
			.bi.bi-plus {
				transition: 0.25s all;
				font-size: 2rem;
			}
			&.collapsed {
				font-family: 'DIN pro';
			}
			&:not(.collapsed) {
				.bi.bi-plus {
					transform: rotate(45deg);
				}
			}
			&::after {
				display: none;
			}
		}
	}
	.accordion-body {
		padding: 1rem 0;
		font-family: 'Roboto';
	}
}

//footer
.footer {
	background: rgba(var(--sec-blue));
	text-align: center;
	color: #d3d3d3 !important;
	margin-top: 0 !important;
	padding-bottom: 0;
	a,
	p {
		color: rgba(var(--white));
	}
	.fab {
		width: 48px;
		height: 48px;
		text-decoration: none;
		color: white;
		font-size: 2rem;
	}
	.copyright {
		font-family: 'Roboto';
		a {
			text-decoration: none;
		}
	}
}
