// $colors: (
// 	'blue': $primary-color,
// 	'darkblue': $secondary-color,
// 	'red': $accent-color,
// 	'gray': $gray,
// 	'white': $white,
// );

@each $key, $color in $colors {
	.btn.#{$key} {
		background-color: $color;
		color: $white;
		border-radius: 0;
		font-size: 1.3rem;
		padding: 0.5rem 1rem;
		text-decoration: none;
		white-space: nowrap;
		font-family: 'Roboto';
		text-shadow: none;

		&.ghost {
			background-color: transparent;
			color: $color;
			border: 3px solid $color;

			&-shadow {
				@extend .ghost;
				box-shadow: 5px 5px 0 $color;

				&-o {
					@extend .ghost-shadow;
					background-color: $white;
				}
			}
		}
	}
}
