@each $key, $color in $colors {
	.dpu-bg {
		&-#{$key} {
			@include bg($color);
			@each $tint in $tints {
				&-#{$tint} {
					@include color($color, 100%-$tint);
					&::after {
						content: '#{scale-color($color, $lightness: 100%-$tint)}';
						font-size: 0.8rem;
						@include screen-max($screen-md) {
							display: none;
						}

						@if ($tint > 50) {
							color: $white;
						} @else {
							color: black;
						}
					}
					&-t {
						@include transparent(scale-color($color, $lightness: 100%-$tint), calc($tint/100));
						.header {
							text-shadow: 2px 2px 0px darken($color, 12%);
							&.line {
								box-shadow: 0px 2px 0px darken($color, 12%) !important;
							}
						}
						.content {
							text-shadow: 2px 2px 0px darken($color, 12%);
						}
					}
				}
			}
		}
	}

	.dpu-text {
		&-#{$key} {
			color: rgba($color, 1);
		}
	}

	.dpu-border {
		&-#{$key} {
			@include border(1px, $color);
		}
	}
}
