.dpu-bg {
	&-blue {
		@include bg($primary-color);
		@each $tint in $tints {
			&-#{$tint} {
				@include color($primary-color, 100%-$tint);
				&-t {
					@include transparent($primary-color, calc($tint/100));
					.header {
						text-shadow: 2px 2px 0px darken($primary-color, 12%);
						&.line {
							box-shadow: 0px 2px 0px darken($primary-color, 12%) !important;
						}
					}
					.content {
						text-shadow: 2px 2px 0px darken($primary-color, 12%);
					}
				}
			}
		}
	}
	&-darkblue {
		@include bg($darkblue);
		@each $tint in $tints {
			&-#{$tint} {
				@include color($darkblue, 100%-$tint);
				&-t {
					@include transparent($darkblue, calc($tint/100));
					.header {
						text-shadow: 2px 2px 0px darken($darkblue, 12%);
						&.line {
							box-shadow: 0px 2px 0px darken($darkblue, 12%) !important;
						}
					}
					.content {
						text-shadow: 2px 2px 0px darken($darkblue, 12%);
					}
				}
			}
		}
	}
	&-red {
		@include bg($red);
		@each $tint in $tints {
			&-#{$tint} {
				@include color($red, 100%-$tint);
				&-t {
					@include transparent($red, calc($tint/100));
					.header {
						text-shadow: 2px 2px 0px darken($red, 12%);
						&.line {
							box-shadow: 0px 2px 0px darken($red, 12%) !important;
						}
					}
					.content {
						text-shadow: 2px 2px 0px darken($red, 12%);
					}
				}
			}
		}
	}
	&-white {
		@include bg($white);
	}
	&-gray {
		@include bg($gray);
		@each $tint in $tints {
			&-#{$tint} {
				@include color($gray, 100%-$tint);
				&-t {
					@include transparent($gray, calc($tint/100));
					.header {
						text-shadow: 2px 2px 0px darken($gray, 12%);
						&.line {
							box-shadow: 0px 2px 0px darken($gray, 12%) !important;
						}
					}
					.content {
						text-shadow: 2px 2px 0px darken($gray, 12%);
					}
				}
			}
		}
	}
}

.tint {
	flex: 1 1 auto;
	margin: 1px;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	height: 150px;

	.tint-label {
		display: flex;
		justify-content: flex-end;
		color: $gray;
		font-size: 0.75rem;
	}
	.bc-blue-tint {
		height: 5rem;
		margin: 1px 0;
	}
	.bc-red-tint {
		height: 3rem;
		margin: 1px 0;
	}
	.bc-darkblue-tint {
		height: 4rem;
		margin: 1px 0;
	}
}

.text {
	&-blue {
		color: rgba($primary-color, 1);
	}
	&-red {
		color: rgba($red, 1);
	}
	&-darkblue {
		color: rgba($darkblue, 1);
	}
	&-gray {
		color: rgba($gray, 1);
	}
	&-white {
		color: rgba($white, 1);
	}
}

.border {
	&-blue {
		@include border(1px, $primary-color);
	}
	&-darkblue {
		@include border(1px, $darkblue);
	}
	&-red {
		@include border(1px, $red);
	}
	&-gray {
		@include border(1px, $gray);
	}
}
