// main
html,
body {
	margin: 0;
	padding: 0;
}

.bc {
	// main section headers subhead and titles
	&-title,
	&-section-title,
	&-subhead {
		font-family: 'Roboto';
		font-weight: normal;
		color: $blue;
	}

	&-section-title {
		text-transform: capitalize;
		margin-top: 1.25rem;
	}

	&-subhead {
		text-transform: capitalize;
	}
	&-border {
		border: 1px solid $blue;
	}

	&-border-red-bottom {
		border-bottom: 1px solid $red;
		margin-bottom: 1rem;
	}

	// general use height 100px property
	&-height {
		&-100 {
			height: 100px;
		}
	}

	// colors palette section
	&-color-chip {
		font-size: 1.15rem;
		background: black;
		color: white;
		width: 150px;
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-child(1n + 2) {
			margin-left: 1rem;
		}
	}
}

.font-stacks {
	p {
		margin: 0;
		font-size: 2rem;
	}
}
