@mixin btn($bg: $blue, $text: $white) {
	background-color: $bg;
	color: $text;
	border-radius: 0;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	white-space: nowrap;
}

@mixin ghost($color: $blue) {
	@include btn;
	background-color: transparent;
	border: 3px solid $color;
	color: $color;
}

@mixin shadow($color: $blue) {
	@include btn;
	@include ghost($color);
	box-shadow: 5px 5px 0 $color;
}

@mixin dark($color) {
	@include ghost($color);
}

.btn {
	background-color: $blue;
	color: $white;
	border-radius: 0;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	white-space: nowrap;
	font-family: 'Roboto';
	text-shadow: none;
	&.red {
		@include btn($red, $white);
		&.ghost {
			@include ghost($red);
			&-shadow {
				@include shadow($red);
				&-o {
					@include ghost($red);
					@include shadow($red);
					background-color: $white;
				}
			}
		}
	}
	&.blue {
		@include btn($blue, $white);
		&.ghost {
			@include ghost($blue);
			&-shadow {
				@include shadow($blue);
				&-o {
					@include ghost($blue);
					@include shadow($blue);
					background-color: $white;
				}
			}
		}
	}
	&.darkblue {
		@include btn($darkblue, $white);
		&.ghost {
			@include ghost($darkblue);
			&-shadow {
				@include shadow($darkblue);
				&-o {
					@include ghost($darkblue);
					@include shadow($darkblue);
					background-color: $white;
				}
			}
		}
	}
	&.white {
		@include btn($white, $white);
		&.ghost {
			@include ghost($white);
			&-shadow {
				@include shadow($white);
				&-o {
					@include ghost($white);
					@include shadow($white);
					background-color: $white;
				}
			}
		}
	}
}
