@mixin btn($bg: $blue, $text: $white) {
	background-color: $bg;
	color: $text;
	border-radius: 0;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	white-space: nowrap;
}

@mixin ghost($color: $blue) {
	@include btn;
	border: 2px solid $color;
	background-color: $white;
	color: $color;
}

@mixin shadow($color: $blue) {
	@include btn;
	@include ghost($color);
	box-shadow: 5px 5px 0 $color;
}
@mixin transparent($color: $blue) {
	@include ghost($color);
	@include shadow($color);
	background-color: transparent;
}
@mixin dark($color) {
	@include ghost($color);
}

.btn {
	background-color: $blue;
	color: $white;
	border-radius: 0;
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	white-space: nowrap;
	&.red {
		@include btn($red, $white);
		&.ghost {
			@include ghost($red);
			&-shadow {
				@include shadow($red);
				&-t {
					@include transparent($red);
				}
			}
		}
	}
	&.blue {
		@include btn($blue, $white);
		&.ghost {
			@include ghost($blue);
			&-shadow {
				@include shadow($blue);
			}
		}
	}
	&.darkblue {
		@include btn($darkblue, $white);
		&.ghost {
			@include ghost($darkblue);
			&-shadow {
				@include shadow($darkblue);
			}
		}
	}
}
