// root
$blue: blue;
$darkblue: darkblue;
$red: red;
$gray: gray;
$white: white;

// fonts
@font-face {
	font-family: 'DINpro';
	src: url('./fonts/DINPro/DINPro-Cond.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'DINpro';
	src: url('./fonts/DINPro/DINPro-CondBold.woff');
	font-weight: 700;
}
@font-face {
	font-family: 'DINpro';
	src: url('./fonts/DINPro/DINPro-Black.woff');
	font-weight: 900;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
	font-weight: 700;
}

// fonts
body {
	font-family: 'Roboto';
	font-weight: normal;
	font-size: 21px;
	color: $gray;
}

h1,
h2,
h3 {
	font-family: 'DINPro';
	font-weight: 700;
	color: $blue;
	&.rollup {
		border-bottom: 3px solid $blue;
		padding-bottom: 1rem;
	}
	&.homepage {
		font-size: 58px;
		text-transform: uppercase;
	}
}
h4,
h5,
h6 {
	font-family: 'Roboto';
	font-weight: 700;
}
h1 {
	font-size: 3.13rem;
}
h2 {
	font-size: 2.65rem;
}
h3 {
	font-size: 2.25rem;
}
h4 {
	font-size: 1.38rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

p {
	font-family: 'Roboto';
	&.din {
		font-family: 'DINPro';
		&-blk {
			@extend .din;
			font-weight: 900;
		}
	}
}

// container
.container,
.wrap {
	&-1920,
	&-1440,
	&-1200,
	&-1080,
	&-900 {
		margin: 0 auto;
	}

	&-1920 {
		max-width: 1920px;
	}
	&-1440 {
		max-width: 1440px;
	}
	&-1200 {
		max-width: 1200px;
	}
	&-1080 {
		max-width: 1080px;
	}
	&-900 {
		max-width: 900px;
	}
}

@import 'bc-styles';
@import 'buttons';
@import 'panels';
