@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-Cond.woff");
  font-weight: normal;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-CondBold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-Black.woff");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 21px;
  color: gray;
}

h1,
h2,
h3 {
  font-family: "DINPro";
  font-weight: 700;
  color: blue;
}
h1.rollup,
h2.rollup,
h3.rollup {
  border-bottom: 3px solid blue;
  padding-bottom: 1rem;
}
h1.homepage,
h2.homepage,
h3.homepage {
  font-size: 58px;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

h1 {
  font-size: 3.13rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.38rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: "Roboto";
}
p.din, p.din-blk {
  font-family: "DINPro";
}
p.din-blk {
  font-weight: 900;
}

.container-1920, .container-1440, .container-1200, .container-1080, .container-900,
.wrap-1920,
.wrap-1440,
.wrap-1200,
.wrap-1080,
.wrap-900 {
  margin: 0 auto;
}
.container-1920,
.wrap-1920 {
  max-width: 1920px;
}
.container-1440,
.wrap-1440 {
  max-width: 1440px;
}
.container-1200,
.wrap-1200 {
  max-width: 1200px;
}
.container-1080,
.wrap-1080 {
  max-width: 1080px;
}
.container-900,
.wrap-900 {
  max-width: 900px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.bc-title, .bc-section-title, .bc-subhead {
  font-family: "Roboto";
  font-weight: normal;
  color: blue;
}
.bc-section-title {
  text-transform: capitalize;
  margin-top: 1.25rem;
}
.bc-subhead {
  text-transform: capitalize;
}
.bc-border {
  border: 1px solid blue;
}
.bc-border-red-bottom {
  border-bottom: 1px solid red;
  margin-bottom: 1rem;
}
.bc-height-100 {
  height: 100px;
}

.font-stacks p {
  margin: 0;
  font-size: 2rem;
}

.btn {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
}
.btn.red {
  background-color: red;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
}
.btn.red.ghost {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid red;
  background-color: white;
  color: red;
}
.btn.red.ghost-shadow {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid red;
  background-color: white;
  color: red;
  box-shadow: 5px 5px 0 red;
}
.btn.red.ghost-shadow-t {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid red;
  background-color: white;
  color: red;
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid red;
  background-color: white;
  color: red;
  box-shadow: 5px 5px 0 red;
  background-color: transparent;
}
.btn.blue {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
}
.btn.blue.ghost {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid blue;
  background-color: white;
  color: blue;
}
.btn.blue.ghost-shadow {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid blue;
  background-color: white;
  color: blue;
  box-shadow: 5px 5px 0 blue;
}
.btn.darkblue {
  background-color: darkblue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
}
.btn.darkblue.ghost {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid darkblue;
  background-color: white;
  color: darkblue;
}
.btn.darkblue.ghost-shadow {
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: blue;
  color: white;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 2px solid darkblue;
  background-color: white;
  color: darkblue;
  box-shadow: 5px 5px 0 darkblue;
}

.img-header {
  background: url("https://picsum.photos/1920/570");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  height: 570px;
  color: white;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-header-overlay {
  background-color: rgba(0, 0, 255, 0.75);
  flex: 1 1 auto;
  text-align: center;
  padding: 1.5rem;
}
.img-header-overlay h1 {
  border-bottom: 3px solid white;
  box-shadow: 0px 2px black;
  text-shadow: 2px 2px black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.img-header-overlay p {
  text-shadow: 2px 2px black;
  font-size: 1.63rem;
}

/*# sourceMappingURL=main.css.map */
