:root {
  --primary-color: #0057b7;
  --secondary-color: #0e4174;
  --accent-color: #af272f;
  --white: #ffffff;
  --gray: #565656;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-Cond.woff");
  font-weight: normal;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-CondMedium.woff");
  font-weight: 600;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-CondBold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-Black.woff");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 21px;
  color: #565656;
}

h1,
h2,
h3 {
  font-family: "DINPro";
  font-weight: 700;
  color: #0057b7;
}
h1.rollup,
h2.rollup,
h3.rollup {
  border-bottom: 3px solid #0e4174;
  padding-bottom: 1rem;
}
h1.homepage,
h2.homepage,
h3.homepage {
  font-size: 58px;
  text-transform: uppercase;
  color: #0e4174;
}

h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

h1 {
  font-size: 3.13rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.38rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: "Roboto";
}
p.din, p.din-blk {
  font-family: "DINPro";
}
p.din-blk {
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
}

.bc-title, .bc-section-title, .bc-subhead {
  font-family: "Roboto";
  font-weight: normal;
  color: #0057b7;
}
.bc-title {
  font-size: 3.25rem;
}
.bc-section-title {
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 1.3;
}
.bc-subhead {
  text-transform: capitalize;
  margin: 1.9rem 0 0.6rem;
}
.bc-border {
  border: 1px solid #0057b7;
}
.bc-border-accent-bottom {
  border-bottom: 1px solid #af272f;
  margin-bottom: 1rem;
}
.bc-height-100 {
  height: 100px;
}
.bc-color-chip {
  font-size: 1.15rem;
  background: black;
  color: white;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bc-color-chip:nth-child(1n+2) {
  margin-left: 1rem;
}

.tint {
  flex: 1 1 auto;
  margin: 1px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 150px;
}
.tint .tint-label {
  display: flex;
  justify-content: flex-end;
  color: #565656;
  font-size: 0.75rem;
}
.tint .bc-primary-tint {
  height: 5rem;
  margin: 1px 0;
}
.tint .bc-accent-tint {
  height: 3rem;
  margin: 1px 0;
}
.tint .bc-secondary-tint {
  height: 4rem;
  margin: 1px 0;
}

.font-stacks p {
  margin: 0px 0 20px;
  font-size: 2.23rem;
  line-height: 0.7;
}

.bc-gap-1 {
  display: block;
  height: 0.5rem;
}

.bc-gap-2 {
  display: block;
  height: 1rem;
}

.bc-gap-3 {
  display: block;
  height: 1.5rem;
}

.bc-gap-4 {
  display: block;
  height: 2rem;
}

.bc-gap-5 {
  display: block;
  height: 2.5rem;
}

.bc-gap-6 {
  display: block;
  height: 3rem;
}

.bc-gap-7 {
  display: block;
  height: 3.5rem;
}

.bc-gap-8 {
  display: block;
  height: 4rem;
}

.bc-gap-9 {
  display: block;
  height: 4.5rem;
}

.bc-gap-10 {
  display: block;
  height: 5rem;
}

.bc-gap-11 {
  display: block;
  height: 5.5rem;
}

.bc-gap-12 {
  display: block;
  height: 6rem;
}

.bc-gap-13 {
  display: block;
  height: 6.5rem;
}

.bc-gap-14 {
  display: block;
  height: 7rem;
}

.bc-gap-15 {
  display: block;
  height: 7.5rem;
}

.bc-gap-16 {
  display: block;
  height: 8rem;
}

.bc-gap-17 {
  display: block;
  height: 8.5rem;
}

.bc-gap-18 {
  display: block;
  height: 9rem;
}

.bc-gap-19 {
  display: block;
  height: 9.5rem;
}

.bc-gap-20 {
  display: block;
  height: 10rem;
}

.bc-gap-21 {
  display: block;
  height: 10.5rem;
}

.bc-gap-22 {
  display: block;
  height: 11rem;
}

.bc-gap-23 {
  display: block;
  height: 11.5rem;
}

.bc-gap-24 {
  display: block;
  height: 12rem;
}

.bc-gap-25 {
  display: block;
  height: 12.5rem;
}

.bc-gap-26 {
  display: block;
  height: 13rem;
}

.bc-gap-27 {
  display: block;
  height: 13.5rem;
}

.bc-gap-28 {
  display: block;
  height: 14rem;
}

.bc-gap-29 {
  display: block;
  height: 14.5rem;
}

.bc-gap-30 {
  display: block;
  height: 15rem;
}

.bc-gap-31 {
  display: block;
  height: 15.5rem;
}

.bc-gap-32 {
  display: block;
  height: 16rem;
}

.bc-gap-33 {
  display: block;
  height: 16.5rem;
}

.bc-gap-34 {
  display: block;
  height: 17rem;
}

.bc-gap-35 {
  display: block;
  height: 17.5rem;
}

.bc-gap-36 {
  display: block;
  height: 18rem;
}

.bc-gap-37 {
  display: block;
  height: 18.5rem;
}

.bc-gap-38 {
  display: block;
  height: 19rem;
}

.bc-gap-39 {
  display: block;
  height: 19.5rem;
}

.bc-gap-40 {
  display: block;
  height: 20rem;
}

.bc-gap-41 {
  display: block;
  height: 20.5rem;
}

.bc-gap-42 {
  display: block;
  height: 21rem;
}

.bc-gap-43 {
  display: block;
  height: 21.5rem;
}

.bc-gap-44 {
  display: block;
  height: 22rem;
}

.bc-gap-45 {
  display: block;
  height: 22.5rem;
}

.bc-gap-46 {
  display: block;
  height: 23rem;
}

.bc-gap-47 {
  display: block;
  height: 23.5rem;
}

.bc-gap-48 {
  display: block;
  height: 24rem;
}

.bc-gap-49 {
  display: block;
  height: 24.5rem;
}

.bc-gap-50 {
  display: block;
  height: 25rem;
}

.bc-gap-51 {
  display: block;
  height: 25.5rem;
}

.bc-gap-52 {
  display: block;
  height: 26rem;
}

.bc-gap-53 {
  display: block;
  height: 26.5rem;
}

.bc-gap-54 {
  display: block;
  height: 27rem;
}

.bc-gap-55 {
  display: block;
  height: 27.5rem;
}

.bc-gap-56 {
  display: block;
  height: 28rem;
}

.bc-gap-57 {
  display: block;
  height: 28.5rem;
}

.bc-gap-58 {
  display: block;
  height: 29rem;
}

.bc-gap-59 {
  display: block;
  height: 29.5rem;
}

.bc-gap-60 {
  display: block;
  height: 30rem;
}

.bc-gap-61 {
  display: block;
  height: 30.5rem;
}

.bc-gap-62 {
  display: block;
  height: 31rem;
}

.bc-gap-63 {
  display: block;
  height: 31.5rem;
}

.bc-gap-64 {
  display: block;
  height: 32rem;
}

.bc-gap-65 {
  display: block;
  height: 32.5rem;
}

.bc-gap-66 {
  display: block;
  height: 33rem;
}

.bc-gap-67 {
  display: block;
  height: 33.5rem;
}

.bc-gap-68 {
  display: block;
  height: 34rem;
}

.bc-gap-69 {
  display: block;
  height: 34.5rem;
}

.bc-gap-70 {
  display: block;
  height: 35rem;
}

.bc-gap-71 {
  display: block;
  height: 35.5rem;
}

.bc-gap-72 {
  display: block;
  height: 36rem;
}

.bc-gap-73 {
  display: block;
  height: 36.5rem;
}

.bc-gap-74 {
  display: block;
  height: 37rem;
}

.bc-gap-75 {
  display: block;
  height: 37.5rem;
}

.bc-gap-76 {
  display: block;
  height: 38rem;
}

.bc-gap-77 {
  display: block;
  height: 38.5rem;
}

.bc-gap-78 {
  display: block;
  height: 39rem;
}

.bc-gap-79 {
  display: block;
  height: 39.5rem;
}

.bc-gap-80 {
  display: block;
  height: 40rem;
}

.bc-gap-81 {
  display: block;
  height: 40.5rem;
}

.bc-gap-82 {
  display: block;
  height: 41rem;
}

.bc-gap-83 {
  display: block;
  height: 41.5rem;
}

.bc-gap-84 {
  display: block;
  height: 42rem;
}

.bc-gap-85 {
  display: block;
  height: 42.5rem;
}

.bc-gap-86 {
  display: block;
  height: 43rem;
}

.bc-gap-87 {
  display: block;
  height: 43.5rem;
}

.bc-gap-88 {
  display: block;
  height: 44rem;
}

.bc-gap-89 {
  display: block;
  height: 44.5rem;
}

.bc-gap-90 {
  display: block;
  height: 45rem;
}

.bc-gap-91 {
  display: block;
  height: 45.5rem;
}

.bc-gap-92 {
  display: block;
  height: 46rem;
}

.bc-gap-93 {
  display: block;
  height: 46.5rem;
}

.bc-gap-94 {
  display: block;
  height: 47rem;
}

.bc-gap-95 {
  display: block;
  height: 47.5rem;
}

.bc-gap-96 {
  display: block;
  height: 48rem;
}

.bc-gap-97 {
  display: block;
  height: 48.5rem;
}

.bc-gap-98 {
  display: block;
  height: 49rem;
}

.bc-gap-99 {
  display: block;
  height: 49.5rem;
}

.bc-gap-100 {
  display: block;
  height: 50rem;
}

.dpu-bg-primary {
  background: #0057b7;
}
.dpu-bg-primary-100 {
  background-color: #0057b7;
}
.dpu-bg-primary-100-t {
  background: #0057b7;
}
.dpu-bg-primary-100-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-100-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-100-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-95 {
  background-color: #005fc7;
}
.dpu-bg-primary-95-t {
  background: rgba(0, 87, 183, 0.95);
}
.dpu-bg-primary-95-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-95-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-95-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-90 {
  background-color: #0067d8;
}
.dpu-bg-primary-90-t {
  background: rgba(0, 87, 183, 0.9);
}
.dpu-bg-primary-90-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-90-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-90-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-85 {
  background-color: #006ee8;
}
.dpu-bg-primary-85-t {
  background: rgba(0, 87, 183, 0.85);
}
.dpu-bg-primary-85-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-85-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-85-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-80 {
  background-color: #0076f8;
}
.dpu-bg-primary-80-t {
  background: rgba(0, 87, 183, 0.8);
}
.dpu-bg-primary-80-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-80-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-80-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-75 {
  background-color: #0a7eff;
}
.dpu-bg-primary-75-t {
  background: rgba(0, 87, 183, 0.75);
}
.dpu-bg-primary-75-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-75-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-75-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-70 {
  background-color: #1a87ff;
}
.dpu-bg-primary-70-t {
  background: rgba(0, 87, 183, 0.7);
}
.dpu-bg-primary-70-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-70-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-70-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-65 {
  background-color: #2a8fff;
}
.dpu-bg-primary-65-t {
  background: rgba(0, 87, 183, 0.65);
}
.dpu-bg-primary-65-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-65-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-65-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-60 {
  background-color: #3b98ff;
}
.dpu-bg-primary-60-t {
  background: rgba(0, 87, 183, 0.6);
}
.dpu-bg-primary-60-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-60-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-60-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-55 {
  background-color: #4ba1ff;
}
.dpu-bg-primary-55-t {
  background: rgba(0, 87, 183, 0.55);
}
.dpu-bg-primary-55-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-55-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-55-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-50 {
  background-color: #5ca9ff;
}
.dpu-bg-primary-50-t {
  background: rgba(0, 87, 183, 0.5);
}
.dpu-bg-primary-50-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-50-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-50-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-45 {
  background-color: #6cb2ff;
}
.dpu-bg-primary-45-t {
  background: rgba(0, 87, 183, 0.45);
}
.dpu-bg-primary-45-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-45-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-45-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-40 {
  background-color: #7cbaff;
}
.dpu-bg-primary-40-t {
  background: rgba(0, 87, 183, 0.4);
}
.dpu-bg-primary-40-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-40-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-40-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-35 {
  background-color: #8dc3ff;
}
.dpu-bg-primary-35-t {
  background: rgba(0, 87, 183, 0.35);
}
.dpu-bg-primary-35-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-35-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-35-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-30 {
  background-color: #9dccff;
}
.dpu-bg-primary-30-t {
  background: rgba(0, 87, 183, 0.3);
}
.dpu-bg-primary-30-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-30-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-30-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-25 {
  background-color: #add4ff;
}
.dpu-bg-primary-25-t {
  background: rgba(0, 87, 183, 0.25);
}
.dpu-bg-primary-25-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-25-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-25-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-20 {
  background-color: #beddff;
}
.dpu-bg-primary-20-t {
  background: rgba(0, 87, 183, 0.2);
}
.dpu-bg-primary-20-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-20-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-20-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-15 {
  background-color: #cee5ff;
}
.dpu-bg-primary-15-t {
  background: rgba(0, 87, 183, 0.15);
}
.dpu-bg-primary-15-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-15-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-15-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-10 {
  background-color: #deeeff;
}
.dpu-bg-primary-10-t {
  background: rgba(0, 87, 183, 0.1);
}
.dpu-bg-primary-10-t .header {
  text-shadow: 2px 2px 0px #003a7a;
}
.dpu-bg-primary-10-t .header.line {
  box-shadow: 0px 2px 0px #003a7a !important;
}
.dpu-bg-primary-10-t .content {
  text-shadow: 2px 2px 0px #003a7a;
}

.dpu-text-primary {
  color: #0057b7;
}

.dpu-border-primary {
  border: 1px solid #0057b7;
}

.dpu-bg-secondary {
  background: #0e4174;
}
.dpu-bg-secondary-100 {
  background-color: #0e4174;
}
.dpu-bg-secondary-100-t {
  background: #0e4174;
}
.dpu-bg-secondary-100-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-100-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-100-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-95 {
  background-color: #104b85;
}
.dpu-bg-secondary-95-t {
  background: rgba(14, 65, 116, 0.95);
}
.dpu-bg-secondary-95-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-95-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-95-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-90 {
  background-color: #125496;
}
.dpu-bg-secondary-90-t {
  background: rgba(14, 65, 116, 0.9);
}
.dpu-bg-secondary-90-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-90-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-90-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-85 {
  background-color: #145ea7;
}
.dpu-bg-secondary-85-t {
  background: rgba(14, 65, 116, 0.85);
}
.dpu-bg-secondary-85-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-85-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-85-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-80 {
  background-color: #1667b8;
}
.dpu-bg-secondary-80-t {
  background: rgba(14, 65, 116, 0.8);
}
.dpu-bg-secondary-80-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-80-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-80-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-75 {
  background-color: #1871c9;
}
.dpu-bg-secondary-75-t {
  background: rgba(14, 65, 116, 0.75);
}
.dpu-bg-secondary-75-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-75-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-75-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-70 {
  background-color: #1a7ada;
}
.dpu-bg-secondary-70-t {
  background: rgba(14, 65, 116, 0.7);
}
.dpu-bg-secondary-70-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-70-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-70-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-65 {
  background-color: #2384e4;
}
.dpu-bg-secondary-65-t {
  background: rgba(14, 65, 116, 0.65);
}
.dpu-bg-secondary-65-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-65-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-65-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-60 {
  background-color: #348de6;
}
.dpu-bg-secondary-60-t {
  background: rgba(14, 65, 116, 0.6);
}
.dpu-bg-secondary-60-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-60-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-60-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-55 {
  background-color: #4597e8;
}
.dpu-bg-secondary-55-t {
  background: rgba(14, 65, 116, 0.55);
}
.dpu-bg-secondary-55-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-55-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-55-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-50 {
  background-color: #55a0eb;
}
.dpu-bg-secondary-50-t {
  background: rgba(14, 65, 116, 0.5);
}
.dpu-bg-secondary-50-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-50-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-50-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-45 {
  background-color: #66aaed;
}
.dpu-bg-secondary-45-t {
  background: rgba(14, 65, 116, 0.45);
}
.dpu-bg-secondary-45-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-45-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-45-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-40 {
  background-color: #77b3ef;
}
.dpu-bg-secondary-40-t {
  background: rgba(14, 65, 116, 0.4);
}
.dpu-bg-secondary-40-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-40-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-40-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-35 {
  background-color: #88bdf1;
}
.dpu-bg-secondary-35-t {
  background: rgba(14, 65, 116, 0.35);
}
.dpu-bg-secondary-35-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-35-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-35-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-30 {
  background-color: #99c6f3;
}
.dpu-bg-secondary-30-t {
  background: rgba(14, 65, 116, 0.3);
}
.dpu-bg-secondary-30-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-30-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-30-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-25 {
  background-color: #aad0f5;
}
.dpu-bg-secondary-25-t {
  background: rgba(14, 65, 116, 0.25);
}
.dpu-bg-secondary-25-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-25-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-25-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-20 {
  background-color: #bbd9f7;
}
.dpu-bg-secondary-20-t {
  background: rgba(14, 65, 116, 0.2);
}
.dpu-bg-secondary-20-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-20-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-20-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-15 {
  background-color: #cce3f9;
}
.dpu-bg-secondary-15-t {
  background: rgba(14, 65, 116, 0.15);
}
.dpu-bg-secondary-15-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-15-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-15-t .content {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-10 {
  background-color: #ddecfb;
}
.dpu-bg-secondary-10-t {
  background: rgba(14, 65, 116, 0.1);
}
.dpu-bg-secondary-10-t .header {
  text-shadow: 2px 2px 0px #07223d;
}
.dpu-bg-secondary-10-t .header.line {
  box-shadow: 0px 2px 0px #07223d !important;
}
.dpu-bg-secondary-10-t .content {
  text-shadow: 2px 2px 0px #07223d;
}

.dpu-text-secondary {
  color: #0e4174;
}

.dpu-border-secondary {
  border: 1px solid #0e4174;
}

.dpu-bg-accent {
  background: #af272f;
}
.dpu-bg-accent-100 {
  background-color: #af272f;
}
.dpu-bg-accent-100-t {
  background: #af272f;
}
.dpu-bg-accent-100-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-100-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-100-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-95 {
  background-color: #bb2a32;
}
.dpu-bg-accent-95-t {
  background: rgba(175, 39, 47, 0.95);
}
.dpu-bg-accent-95-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-95-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-95-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-90 {
  background-color: #c72c36;
}
.dpu-bg-accent-90-t {
  background: rgba(175, 39, 47, 0.9);
}
.dpu-bg-accent-90-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-90-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-90-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-85 {
  background-color: #d1313b;
}
.dpu-bg-accent-85-t {
  background: rgba(175, 39, 47, 0.85);
}
.dpu-bg-accent-85-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-85-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-85-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-80 {
  background-color: #d43d46;
}
.dpu-bg-accent-80-t {
  background: rgba(175, 39, 47, 0.8);
}
.dpu-bg-accent-80-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-80-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-80-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-75 {
  background-color: #d74952;
}
.dpu-bg-accent-75-t {
  background: rgba(175, 39, 47, 0.75);
}
.dpu-bg-accent-75-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-75-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-75-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-70 {
  background-color: #d9565d;
}
.dpu-bg-accent-70-t {
  background: rgba(175, 39, 47, 0.7);
}
.dpu-bg-accent-70-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-70-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-70-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-65 {
  background-color: #dc6269;
}
.dpu-bg-accent-65-t {
  background: rgba(175, 39, 47, 0.65);
}
.dpu-bg-accent-65-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-65-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-65-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-60 {
  background-color: #df6e74;
}
.dpu-bg-accent-60-t {
  background: rgba(175, 39, 47, 0.6);
}
.dpu-bg-accent-60-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-60-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-60-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-55 {
  background-color: #e17a80;
}
.dpu-bg-accent-55-t {
  background: rgba(175, 39, 47, 0.55);
}
.dpu-bg-accent-55-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-55-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-55-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-50 {
  background-color: #e4868c;
}
.dpu-bg-accent-50-t {
  background: rgba(175, 39, 47, 0.5);
}
.dpu-bg-accent-50-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-50-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-50-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-45 {
  background-color: #e79297;
}
.dpu-bg-accent-45-t {
  background: rgba(175, 39, 47, 0.45);
}
.dpu-bg-accent-45-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-45-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-45-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-40 {
  background-color: #e99ea3;
}
.dpu-bg-accent-40-t {
  background: rgba(175, 39, 47, 0.4);
}
.dpu-bg-accent-40-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-40-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-40-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-35 {
  background-color: #ecaaae;
}
.dpu-bg-accent-35-t {
  background: rgba(175, 39, 47, 0.35);
}
.dpu-bg-accent-35-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-35-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-35-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-30 {
  background-color: #efb6ba;
}
.dpu-bg-accent-30-t {
  background: rgba(175, 39, 47, 0.3);
}
.dpu-bg-accent-30-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-30-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-30-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-25 {
  background-color: #f2c2c5;
}
.dpu-bg-accent-25-t {
  background: rgba(175, 39, 47, 0.25);
}
.dpu-bg-accent-25-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-25-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-25-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-20 {
  background-color: #f4cfd1;
}
.dpu-bg-accent-20-t {
  background: rgba(175, 39, 47, 0.2);
}
.dpu-bg-accent-20-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-20-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-20-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-15 {
  background-color: #f7dbdc;
}
.dpu-bg-accent-15-t {
  background: rgba(175, 39, 47, 0.15);
}
.dpu-bg-accent-15-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-15-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-15-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-10 {
  background-color: #fae7e8;
}
.dpu-bg-accent-10-t {
  background: rgba(175, 39, 47, 0.1);
}
.dpu-bg-accent-10-t .header {
  text-shadow: 2px 2px 0px #7d1c22;
}
.dpu-bg-accent-10-t .header.line {
  box-shadow: 0px 2px 0px #7d1c22 !important;
}
.dpu-bg-accent-10-t .content {
  text-shadow: 2px 2px 0px #7d1c22;
}

.dpu-text-accent {
  color: #af272f;
}

.dpu-border-accent {
  border: 1px solid #af272f;
}

.dpu-bg-white {
  background: white;
}
.dpu-bg-white-100 {
  background-color: white;
}
.dpu-bg-white-100-t {
  background: white;
}
.dpu-bg-white-100-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-100-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-100-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-95 {
  background-color: white;
}
.dpu-bg-white-95-t {
  background: rgba(255, 255, 255, 0.95);
}
.dpu-bg-white-95-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-95-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-95-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-90 {
  background-color: white;
}
.dpu-bg-white-90-t {
  background: rgba(255, 255, 255, 0.9);
}
.dpu-bg-white-90-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-90-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-90-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-85 {
  background-color: white;
}
.dpu-bg-white-85-t {
  background: rgba(255, 255, 255, 0.85);
}
.dpu-bg-white-85-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-85-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-85-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-80 {
  background-color: white;
}
.dpu-bg-white-80-t {
  background: rgba(255, 255, 255, 0.8);
}
.dpu-bg-white-80-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-80-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-80-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-75 {
  background-color: white;
}
.dpu-bg-white-75-t {
  background: rgba(255, 255, 255, 0.75);
}
.dpu-bg-white-75-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-75-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-75-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-70 {
  background-color: white;
}
.dpu-bg-white-70-t {
  background: rgba(255, 255, 255, 0.7);
}
.dpu-bg-white-70-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-70-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-70-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-65 {
  background-color: white;
}
.dpu-bg-white-65-t {
  background: rgba(255, 255, 255, 0.65);
}
.dpu-bg-white-65-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-65-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-65-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-60 {
  background-color: white;
}
.dpu-bg-white-60-t {
  background: rgba(255, 255, 255, 0.6);
}
.dpu-bg-white-60-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-60-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-60-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-55 {
  background-color: white;
}
.dpu-bg-white-55-t {
  background: rgba(255, 255, 255, 0.55);
}
.dpu-bg-white-55-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-55-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-55-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-50 {
  background-color: white;
}
.dpu-bg-white-50-t {
  background: rgba(255, 255, 255, 0.5);
}
.dpu-bg-white-50-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-50-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-50-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-45 {
  background-color: white;
}
.dpu-bg-white-45-t {
  background: rgba(255, 255, 255, 0.45);
}
.dpu-bg-white-45-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-45-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-45-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-40 {
  background-color: white;
}
.dpu-bg-white-40-t {
  background: rgba(255, 255, 255, 0.4);
}
.dpu-bg-white-40-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-40-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-40-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-35 {
  background-color: white;
}
.dpu-bg-white-35-t {
  background: rgba(255, 255, 255, 0.35);
}
.dpu-bg-white-35-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-35-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-35-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-30 {
  background-color: white;
}
.dpu-bg-white-30-t {
  background: rgba(255, 255, 255, 0.3);
}
.dpu-bg-white-30-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-30-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-30-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-25 {
  background-color: white;
}
.dpu-bg-white-25-t {
  background: rgba(255, 255, 255, 0.25);
}
.dpu-bg-white-25-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-25-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-25-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-20 {
  background-color: white;
}
.dpu-bg-white-20-t {
  background: rgba(255, 255, 255, 0.2);
}
.dpu-bg-white-20-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-20-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-20-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-15 {
  background-color: white;
}
.dpu-bg-white-15-t {
  background: rgba(255, 255, 255, 0.15);
}
.dpu-bg-white-15-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-15-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-15-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-10 {
  background-color: white;
}
.dpu-bg-white-10-t {
  background: rgba(255, 255, 255, 0.1);
}
.dpu-bg-white-10-t .header {
  text-shadow: 2px 2px 0px #e0e0e0;
}
.dpu-bg-white-10-t .header.line {
  box-shadow: 0px 2px 0px #e0e0e0 !important;
}
.dpu-bg-white-10-t .content {
  text-shadow: 2px 2px 0px #e0e0e0;
}

.dpu-text-white {
  color: white;
}

.dpu-border-white {
  border: 1px solid white;
}

.dpu-bg-gray {
  background: #565656;
}
.dpu-bg-gray-100 {
  background-color: #565656;
}
.dpu-bg-gray-100-t {
  background: #565656;
}
.dpu-bg-gray-100-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-100-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-100-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-95 {
  background-color: #5e5e5e;
}
.dpu-bg-gray-95-t {
  background: rgba(86, 86, 86, 0.95);
}
.dpu-bg-gray-95-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-95-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-95-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-90 {
  background-color: #676767;
}
.dpu-bg-gray-90-t {
  background: rgba(86, 86, 86, 0.9);
}
.dpu-bg-gray-90-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-90-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-90-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-85 {
  background-color: #6f6f6f;
}
.dpu-bg-gray-85-t {
  background: rgba(86, 86, 86, 0.85);
}
.dpu-bg-gray-85-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-85-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-85-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-80 {
  background-color: #787878;
}
.dpu-bg-gray-80-t {
  background: rgba(86, 86, 86, 0.8);
}
.dpu-bg-gray-80-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-80-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-80-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-75 {
  background-color: gray;
}
.dpu-bg-gray-75-t {
  background: rgba(86, 86, 86, 0.75);
}
.dpu-bg-gray-75-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-75-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-75-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-70 {
  background-color: #898989;
}
.dpu-bg-gray-70-t {
  background: rgba(86, 86, 86, 0.7);
}
.dpu-bg-gray-70-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-70-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-70-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-65 {
  background-color: #919191;
}
.dpu-bg-gray-65-t {
  background: rgba(86, 86, 86, 0.65);
}
.dpu-bg-gray-65-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-65-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-65-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-60 {
  background-color: #9a9a9a;
}
.dpu-bg-gray-60-t {
  background: rgba(86, 86, 86, 0.6);
}
.dpu-bg-gray-60-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-60-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-60-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-55 {
  background-color: #a2a2a2;
}
.dpu-bg-gray-55-t {
  background: rgba(86, 86, 86, 0.55);
}
.dpu-bg-gray-55-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-55-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-55-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-50 {
  background-color: #ababab;
}
.dpu-bg-gray-50-t {
  background: rgba(86, 86, 86, 0.5);
}
.dpu-bg-gray-50-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-50-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-50-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-45 {
  background-color: #b3b3b3;
}
.dpu-bg-gray-45-t {
  background: rgba(86, 86, 86, 0.45);
}
.dpu-bg-gray-45-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-45-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-45-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-40 {
  background-color: #bbbbbb;
}
.dpu-bg-gray-40-t {
  background: rgba(86, 86, 86, 0.4);
}
.dpu-bg-gray-40-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-40-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-40-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-35 {
  background-color: #c4c4c4;
}
.dpu-bg-gray-35-t {
  background: rgba(86, 86, 86, 0.35);
}
.dpu-bg-gray-35-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-35-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-35-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-30 {
  background-color: #cccccc;
}
.dpu-bg-gray-30-t {
  background: rgba(86, 86, 86, 0.3);
}
.dpu-bg-gray-30-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-30-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-30-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-25 {
  background-color: #d5d5d5;
}
.dpu-bg-gray-25-t {
  background: rgba(86, 86, 86, 0.25);
}
.dpu-bg-gray-25-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-25-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-25-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-20 {
  background-color: #dddddd;
}
.dpu-bg-gray-20-t {
  background: rgba(86, 86, 86, 0.2);
}
.dpu-bg-gray-20-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-20-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-20-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-15 {
  background-color: #e6e6e6;
}
.dpu-bg-gray-15-t {
  background: rgba(86, 86, 86, 0.15);
}
.dpu-bg-gray-15-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-15-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-15-t .content {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-10 {
  background-color: #eeeeee;
}
.dpu-bg-gray-10-t {
  background: rgba(86, 86, 86, 0.1);
}
.dpu-bg-gray-10-t .header {
  text-shadow: 2px 2px 0px #373737;
}
.dpu-bg-gray-10-t .header.line {
  box-shadow: 0px 2px 0px #373737 !important;
}
.dpu-bg-gray-10-t .content {
  text-shadow: 2px 2px 0px #373737;
}

.dpu-text-gray {
  color: #565656;
}

.dpu-border-gray {
  border: 1px solid #565656;
}

.btn.blue {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.blue.ghost, .btn.blue.ghost-shadow, .btn.blue.ghost-shadow-o {
  background-color: transparent;
  color: #0057b7;
  border: 3px solid #0057b7;
}
.btn.blue.ghost-shadow, .btn.blue.ghost-shadow-o {
  box-shadow: 5px 5px 0 #0057b7;
}
.btn.blue.ghost-shadow-o {
  background-color: #ffffff;
}

.btn.darkblue {
  background-color: #0e4174;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.darkblue.ghost, .btn.darkblue.ghost-shadow, .btn.darkblue.ghost-shadow-o {
  background-color: transparent;
  color: #0e4174;
  border: 3px solid #0e4174;
}
.btn.darkblue.ghost-shadow, .btn.darkblue.ghost-shadow-o {
  box-shadow: 5px 5px 0 #0e4174;
}
.btn.darkblue.ghost-shadow-o {
  background-color: #ffffff;
}

.btn.red {
  background-color: #af272f;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.red.ghost, .btn.red.ghost-shadow, .btn.red.ghost-shadow-o {
  background-color: transparent;
  color: #af272f;
  border: 3px solid #af272f;
}
.btn.red.ghost-shadow, .btn.red.ghost-shadow-o {
  box-shadow: 5px 5px 0 #af272f;
}
.btn.red.ghost-shadow-o {
  background-color: #ffffff;
}

.btn.gray {
  background-color: #565656;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.gray.ghost, .btn.gray.ghost-shadow, .btn.gray.ghost-shadow-o {
  background-color: transparent;
  color: #565656;
  border: 3px solid #565656;
}
.btn.gray.ghost-shadow, .btn.gray.ghost-shadow-o {
  box-shadow: 5px 5px 0 #565656;
}
.btn.gray.ghost-shadow-o {
  background-color: #ffffff;
}

.btn.white {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.white.ghost, .btn.white.ghost-shadow, .btn.white.ghost-shadow-o {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
}
.btn.white.ghost-shadow, .btn.white.ghost-shadow-o {
  box-shadow: 5px 5px 0 #ffffff;
}
.btn.white.ghost-shadow-o {
  background-color: #ffffff;
}

.container-1920, .container-1440, .container-1200, .container-1080, .container-900,
.wrap-1920,
.wrap-1440,
.wrap-1200,
.wrap-1080,
.wrap-900 {
  margin: 0 auto;
  flex: 1 1 auto;
}
.container-1920,
.wrap-1920 {
  max-width: 1920px;
}
.container-1440,
.wrap-1440 {
  max-width: 1440px;
}
.container-1200,
.wrap-1200 {
  max-width: 1200px;
}
.container-1080,
.wrap-1080 {
  max-width: 1080px;
}
.container-900,
.wrap-900 {
  max-width: 900px;
}

#hero-container {
  max-width: 1920px;
  margin: 0 auto;
}
#hero-container .chevron {
  clip-path: polygon(100% 0, 100% 86%, 65% 100%, 0 86%, 0 0);
  background: url(https://via.placeholder.com/1920x950) 50% 50%/cover no-repeat;
  height: 600px;
  z-index: 90;
  position: relative;
}
@media screen and (max-width: 820px) {
  #hero-container .chevron {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 50vh;
  }
}
@media screen and (max-width: 414px) {
  #hero-container .chevron {
    height: 30vh;
  }
}
#hero-container #text-content {
  position: relative;
  margin-top: -190px;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content {
    top: 0;
    display: block !important;
    padding: 0;
  }
}
#hero-container #text-content .hero-text {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text {
    padding: 0;
    max-width: 100%;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text .hero-content {
    padding: 0;
    flex: 0 0 auto;
    max-width: 60%;
    background: #0057b7;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text .hero-content {
    max-width: 100%;
  }
}
#hero-container #text-content .hero-text .hero-content .hero-title {
  background: rgba(0, 87, 183, 0.75);
  z-index: 100;
  position: relative;
  padding: 1rem 1.5rem;
  width: 595px;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text .hero-content .hero-title {
    width: 100%;
    background: #0057b7;
  }
}
#hero-container #text-content .hero-text .hero-content .hero-title h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1200px) {
  #hero-container #text-content .hero-text .hero-content .hero-title h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text .hero-content .hero-title h1 {
    font-size: 2rem;
  }
}
#hero-container #text-content .cta {
  background: #0e4174;
  z-index: 80;
  position: relative;
  display: flex;
  align-items: end;
  color: #fff;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  #hero-container #text-content .cta {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .cta {
    flex: 0 0 auto;
    max-width: 40% !important;
    height: auto;
    align-items: center;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .cta {
    max-width: 100% !important;
  }
}
#hero-container #text-content .cta div {
  padding-top: 11rem;
}
#hero-container #text-content .cta p {
  font-family: "DINPro";
  font-weight: normal;
  font-size: 1.75rem;
  margin: 0;
}
#hero-container #text-content .cta a {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: underline;
}

.stats {
  display: flex;
}
.stats .info {
  padding: 0 1rem;
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
.stats .info .title {
  font-family: "roboto";
  font-size: 1.75rem;
  margin: 0;
}
.stats .info .detail {
  font-size: 1rem;
  margin: 0;
}

.triangle-1 {
  clip-path: polygon(64.76% 0px, 100% 15.5%, 100% 100%, 0px 100%, 0% 17%);
  padding: 8rem 0;
  position: relative;
  background: linear-gradient(180deg, rgba(26, 76, 141, 0) 60.42%, rgba(14, 65, 116, 0.75) 88.54%), rgba(0, 87, 183, 0.75) url("https://picsum.photos/900/600") center/cover;
  background-blend-mode: overlay;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle-1 .btn {
  font-size: 2.35rem !important;
  text-shadow: 2px 2px #0e4174;
  background: rgba(9, 40, 70, 0.75);
  background-blend-mode: multiply;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.triangle-2 {
  clip-path: polygon(67.03% 24.83%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
  background: linear-gradient(180deg, rgba(26, 76, 141, 0) 60.42%, rgba(14, 65, 116, 0.75) 88.54%), rgba(0, 87, 183, 0.75) url(https://picsum.photos/900/600) center/cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  padding: 6rem 0 2rem;
}
.triangle-2 a {
  font-size: 1.25rem;
}

.triangle-3 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 38% 78.5%, 0% 100%);
  padding: 3rem 0 8rem;
  position: relative;
  background: #0057b7;
  background-blend-mode: overlay;
}
.triangle-3 p {
  font-size: 1.95rem;
}

.triangle-1 .header,
.triangle-2 .header,
.triangle-3 .header {
  font-size: 58px;
  padding: 0;
}

.photo-bg {
  background: url("https://picsum.photos/1920/410") center/cover;
  background: url("https://via.placeholder.com/1920x410") center/cover;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: capitalize;
}
.photo-bg-overlay {
  flex: 1 1 auto;
  text-align: center;
  padding: 3rem;
  color: #ffffff;
}
.photo-bg-overlay .header {
  font-size: 3.5rem;
}
.photo-bg-overlay .content {
  font-family: "DINPro";
  text-transform: none;
  font-size: 1.75rem;
  text-shadow: none;
}

.img-header, .img-gradient {
  background: url("https://via.placeholder.com/1920x570") center/cover;
  height: 570px;
  color: #ffffff;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-header-overlay {
  flex: 1 1 auto;
  text-align: center;
  padding: 1.5rem;
}
.img-header-overlay .header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.img-header-overlay .header.line {
  border-bottom: 3px solid white;
}
.img-header-overlay .content {
  padding: 1rem;
  font-size: 1.63rem;
}

.img-gradient {
  background: linear-gradient(31.6deg, #005dba 27.08%, rgba(0, 93, 186, 0) 46.04%), #c4c4c4 url("https://picsum.photos/1920/570") center/cover;
  background-blend-mode: hard-light;
  align-items: flex-end;
}
.img-gradient-overlay {
  flex: 1 1 auto;
}
.img-gradient-overlay h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
}

.bg-screen {
  overflow: hidden;
  position: relative;
}
.bg-screen::before {
  background: rgba(0, 87, 183, 0.5);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg-screen > img {
  mix-blend-mode: screen;
}

.clip, .clip-right-bottom, .clip-right-top, .clip-left-bottom, .clip-left-top {
  box-sizing: border-box;
}
.clip-left-top {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.clip-left-bottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}
.clip-right-top {
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}
.clip-right-bottom {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.img-container {
  background: url(https://via.placeholder.com/1200) center/cover;
}

.card {
  border-radius: 0;
  border: 1px solid #0057b7;
}
.card .card-title {
  margin: 0 0 0.5rem;
  padding: 0;
}
.card .card-body {
  padding: 2rem 2rem;
}
.card .card-body .card-text {
  font-size: 1.3rem;
  line-height: 1.5;
}
.card .card-footer {
  border-radius: 0;
  background: #ffffff;
  border-top: 1px solid #0057b7;
  font-family: "Roboto";
  font-size: 1.3rem;
  text-decoration: none;
  padding: 1rem;
}
.card .card-footer:hover {
  background: rgba(0, 87, 183, 0.75);
  color: #ffffff;
}

.accordion-item,
.accordion-item:last-child {
  border-bottom: 1px solid #0057b7 !important;
}
.accordion-item .accordion-header .accordion-button,
.accordion-item:last-child .accordion-header .accordion-button {
  font-family: "DINPro";
  padding: 0;
  font-size: 1.35rem;
  color: #0e4174;
  background: white;
  justify-content: space-between;
  overflow: hidden;
}
.accordion-item .accordion-header .accordion-button .bi.bi-plus,
.accordion-item:last-child .accordion-header .accordion-button .bi.bi-plus {
  transition: 0.25s all;
  font-size: 2.5rem;
  color: #0057b7;
}
.accordion-item .accordion-header .accordion-button.collapsed,
.accordion-item:last-child .accordion-header .accordion-button.collapsed {
  font-weight: 600;
}
.accordion-item .accordion-header .accordion-button:not(.collapsed),
.accordion-item:last-child .accordion-header .accordion-button:not(.collapsed) {
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: inset 0 -1px 0 #0057b7;
}
.accordion-item .accordion-header .accordion-button:not(.collapsed) .bi.bi-plus,
.accordion-item:last-child .accordion-header .accordion-button:not(.collapsed) .bi.bi-plus {
  transform: rotate(45deg);
}
.accordion-item .accordion-header .accordion-button::after,
.accordion-item:last-child .accordion-header .accordion-button::after {
  display: none;
}
.accordion-item .accordion-body,
.accordion-item:last-child .accordion-body {
  padding: 1rem 0;
  font-family: "Roboto";
}

.footer {
  background: #0e4174;
  text-align: center;
  color: #ffffff;
  margin-top: 0 !important;
  padding-bottom: 0;
}
.footer a,
.footer p {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.8;
}
.footer .fab {
  width: 48px;
  height: 48px;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
.footer .copyright {
  font-family: "Roboto";
  font-size: 1rem;
}
.footer .copyright a {
  font-size: 1rem;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
