:root {
  --blue: #0057b7;
  --darkblue: #0e4174;
  --red: #af272f;
  --white: #ffffff;
  --gray: #565656;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-Cond.woff");
  font-weight: normal;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-CondMedium.woff");
  font-weight: 600;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-CondBold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "DINpro";
  src: url("./fonts/DINPro/DINPro-Black.woff");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 21px;
  color: #565656;
}

h1,
h2,
h3 {
  font-family: "DINPro";
  font-weight: 700;
  color: #0057b7;
}
h1.rollup,
h2.rollup,
h3.rollup {
  border-bottom: 3px solid #0e4174;
  padding-bottom: 1rem;
}
h1.homepage,
h2.homepage,
h3.homepage {
  font-size: 58px;
  text-transform: uppercase;
  color: #0e4174;
}

h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

h1 {
  font-size: 3.13rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.38rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: "Roboto";
}
p.din, p.din-blk {
  font-family: "DINPro";
}
p.din-blk {
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
}

.bc-title, .bc-section-title, .bc-subhead {
  font-family: "Roboto";
  font-weight: normal;
  color: #0057b7;
}
.bc-title {
  font-size: 3.25rem;
}
.bc-section-title {
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 1.3;
}
.bc-subhead {
  text-transform: capitalize;
  line-height: 1.9;
  margin: 0 0 0.6rem;
}
.bc-border {
  border: 1px solid #0057b7;
}
.bc-border-red-bottom {
  border-bottom: 1px solid #af272f;
  margin-bottom: 1rem;
}
.bc-height-100 {
  height: 100px;
}
.bc-color-chip {
  font-size: 1.15rem;
  background: black;
  color: white;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bc-color-chip:nth-child(1n+2) {
  margin-left: 1rem;
}

.font-stacks p {
  margin: 0px 0 20px;
  font-size: 2.23rem;
  line-height: 0.7;
}

.dpu-bg-blue {
  background: #0057b7;
}
.dpu-bg-blue-100 {
  background-color: #0057b7;
}
.dpu-bg-blue-100-t {
  background: #0057b7;
}
.dpu-bg-blue-100-t h1,
.dpu-bg-blue-100-t h2,
.dpu-bg-blue-100-t h3,
.dpu-bg-blue-100-t h4,
.dpu-bg-blue-100-t h5,
.dpu-bg-blue-100-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-95 {
  background-color: #005fc7;
}
.dpu-bg-blue-95-t {
  background: rgba(0, 87, 183, 0.95);
}
.dpu-bg-blue-95-t h1,
.dpu-bg-blue-95-t h2,
.dpu-bg-blue-95-t h3,
.dpu-bg-blue-95-t h4,
.dpu-bg-blue-95-t h5,
.dpu-bg-blue-95-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-90 {
  background-color: #0067d8;
}
.dpu-bg-blue-90-t {
  background: rgba(0, 87, 183, 0.9);
}
.dpu-bg-blue-90-t h1,
.dpu-bg-blue-90-t h2,
.dpu-bg-blue-90-t h3,
.dpu-bg-blue-90-t h4,
.dpu-bg-blue-90-t h5,
.dpu-bg-blue-90-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-85 {
  background-color: #006ee8;
}
.dpu-bg-blue-85-t {
  background: rgba(0, 87, 183, 0.85);
}
.dpu-bg-blue-85-t h1,
.dpu-bg-blue-85-t h2,
.dpu-bg-blue-85-t h3,
.dpu-bg-blue-85-t h4,
.dpu-bg-blue-85-t h5,
.dpu-bg-blue-85-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-80 {
  background-color: #0076f8;
}
.dpu-bg-blue-80-t {
  background: rgba(0, 87, 183, 0.8);
}
.dpu-bg-blue-80-t h1,
.dpu-bg-blue-80-t h2,
.dpu-bg-blue-80-t h3,
.dpu-bg-blue-80-t h4,
.dpu-bg-blue-80-t h5,
.dpu-bg-blue-80-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-75 {
  background-color: #0a7eff;
}
.dpu-bg-blue-75-t {
  background: rgba(0, 87, 183, 0.75);
}
.dpu-bg-blue-75-t h1,
.dpu-bg-blue-75-t h2,
.dpu-bg-blue-75-t h3,
.dpu-bg-blue-75-t h4,
.dpu-bg-blue-75-t h5,
.dpu-bg-blue-75-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-70 {
  background-color: #1a87ff;
}
.dpu-bg-blue-70-t {
  background: rgba(0, 87, 183, 0.7);
}
.dpu-bg-blue-70-t h1,
.dpu-bg-blue-70-t h2,
.dpu-bg-blue-70-t h3,
.dpu-bg-blue-70-t h4,
.dpu-bg-blue-70-t h5,
.dpu-bg-blue-70-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-65 {
  background-color: #2a8fff;
}
.dpu-bg-blue-65-t {
  background: rgba(0, 87, 183, 0.65);
}
.dpu-bg-blue-65-t h1,
.dpu-bg-blue-65-t h2,
.dpu-bg-blue-65-t h3,
.dpu-bg-blue-65-t h4,
.dpu-bg-blue-65-t h5,
.dpu-bg-blue-65-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-60 {
  background-color: #3b98ff;
}
.dpu-bg-blue-60-t {
  background: rgba(0, 87, 183, 0.6);
}
.dpu-bg-blue-60-t h1,
.dpu-bg-blue-60-t h2,
.dpu-bg-blue-60-t h3,
.dpu-bg-blue-60-t h4,
.dpu-bg-blue-60-t h5,
.dpu-bg-blue-60-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-55 {
  background-color: #4ba1ff;
}
.dpu-bg-blue-55-t {
  background: rgba(0, 87, 183, 0.55);
}
.dpu-bg-blue-55-t h1,
.dpu-bg-blue-55-t h2,
.dpu-bg-blue-55-t h3,
.dpu-bg-blue-55-t h4,
.dpu-bg-blue-55-t h5,
.dpu-bg-blue-55-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-50 {
  background-color: #5ca9ff;
}
.dpu-bg-blue-50-t {
  background: rgba(0, 87, 183, 0.5);
}
.dpu-bg-blue-50-t h1,
.dpu-bg-blue-50-t h2,
.dpu-bg-blue-50-t h3,
.dpu-bg-blue-50-t h4,
.dpu-bg-blue-50-t h5,
.dpu-bg-blue-50-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-45 {
  background-color: #6cb2ff;
}
.dpu-bg-blue-45-t {
  background: rgba(0, 87, 183, 0.45);
}
.dpu-bg-blue-45-t h1,
.dpu-bg-blue-45-t h2,
.dpu-bg-blue-45-t h3,
.dpu-bg-blue-45-t h4,
.dpu-bg-blue-45-t h5,
.dpu-bg-blue-45-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-40 {
  background-color: #7cbaff;
}
.dpu-bg-blue-40-t {
  background: rgba(0, 87, 183, 0.4);
}
.dpu-bg-blue-40-t h1,
.dpu-bg-blue-40-t h2,
.dpu-bg-blue-40-t h3,
.dpu-bg-blue-40-t h4,
.dpu-bg-blue-40-t h5,
.dpu-bg-blue-40-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-35 {
  background-color: #8dc3ff;
}
.dpu-bg-blue-35-t {
  background: rgba(0, 87, 183, 0.35);
}
.dpu-bg-blue-35-t h1,
.dpu-bg-blue-35-t h2,
.dpu-bg-blue-35-t h3,
.dpu-bg-blue-35-t h4,
.dpu-bg-blue-35-t h5,
.dpu-bg-blue-35-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-30 {
  background-color: #9dccff;
}
.dpu-bg-blue-30-t {
  background: rgba(0, 87, 183, 0.3);
}
.dpu-bg-blue-30-t h1,
.dpu-bg-blue-30-t h2,
.dpu-bg-blue-30-t h3,
.dpu-bg-blue-30-t h4,
.dpu-bg-blue-30-t h5,
.dpu-bg-blue-30-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-25 {
  background-color: #add4ff;
}
.dpu-bg-blue-25-t {
  background: rgba(0, 87, 183, 0.25);
}
.dpu-bg-blue-25-t h1,
.dpu-bg-blue-25-t h2,
.dpu-bg-blue-25-t h3,
.dpu-bg-blue-25-t h4,
.dpu-bg-blue-25-t h5,
.dpu-bg-blue-25-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-20 {
  background-color: #beddff;
}
.dpu-bg-blue-20-t {
  background: rgba(0, 87, 183, 0.2);
}
.dpu-bg-blue-20-t h1,
.dpu-bg-blue-20-t h2,
.dpu-bg-blue-20-t h3,
.dpu-bg-blue-20-t h4,
.dpu-bg-blue-20-t h5,
.dpu-bg-blue-20-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-15 {
  background-color: #cee5ff;
}
.dpu-bg-blue-15-t {
  background: rgba(0, 87, 183, 0.15);
}
.dpu-bg-blue-15-t h1,
.dpu-bg-blue-15-t h2,
.dpu-bg-blue-15-t h3,
.dpu-bg-blue-15-t h4,
.dpu-bg-blue-15-t h5,
.dpu-bg-blue-15-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-blue-10 {
  background-color: #deeeff;
}
.dpu-bg-blue-10-t {
  background: rgba(0, 87, 183, 0.1);
}
.dpu-bg-blue-10-t h1,
.dpu-bg-blue-10-t h2,
.dpu-bg-blue-10-t h3,
.dpu-bg-blue-10-t h4,
.dpu-bg-blue-10-t h5,
.dpu-bg-blue-10-t h6 {
  text-shadow: 2px 2px 0px #003f84;
}
.dpu-bg-darkblue {
  background: #0e4174;
}
.dpu-bg-darkblue-100 {
  background-color: #0e4174;
}
.dpu-bg-darkblue-100-t {
  background: #0e4174;
}
.dpu-bg-darkblue-100-t h1,
.dpu-bg-darkblue-100-t h2,
.dpu-bg-darkblue-100-t h3,
.dpu-bg-darkblue-100-t h4,
.dpu-bg-darkblue-100-t h5,
.dpu-bg-darkblue-100-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-95 {
  background-color: #104b85;
}
.dpu-bg-darkblue-95-t {
  background: rgba(14, 65, 116, 0.95);
}
.dpu-bg-darkblue-95-t h1,
.dpu-bg-darkblue-95-t h2,
.dpu-bg-darkblue-95-t h3,
.dpu-bg-darkblue-95-t h4,
.dpu-bg-darkblue-95-t h5,
.dpu-bg-darkblue-95-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-90 {
  background-color: #125496;
}
.dpu-bg-darkblue-90-t {
  background: rgba(14, 65, 116, 0.9);
}
.dpu-bg-darkblue-90-t h1,
.dpu-bg-darkblue-90-t h2,
.dpu-bg-darkblue-90-t h3,
.dpu-bg-darkblue-90-t h4,
.dpu-bg-darkblue-90-t h5,
.dpu-bg-darkblue-90-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-85 {
  background-color: #145ea7;
}
.dpu-bg-darkblue-85-t {
  background: rgba(14, 65, 116, 0.85);
}
.dpu-bg-darkblue-85-t h1,
.dpu-bg-darkblue-85-t h2,
.dpu-bg-darkblue-85-t h3,
.dpu-bg-darkblue-85-t h4,
.dpu-bg-darkblue-85-t h5,
.dpu-bg-darkblue-85-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-80 {
  background-color: #1667b8;
}
.dpu-bg-darkblue-80-t {
  background: rgba(14, 65, 116, 0.8);
}
.dpu-bg-darkblue-80-t h1,
.dpu-bg-darkblue-80-t h2,
.dpu-bg-darkblue-80-t h3,
.dpu-bg-darkblue-80-t h4,
.dpu-bg-darkblue-80-t h5,
.dpu-bg-darkblue-80-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-75 {
  background-color: #1871c9;
}
.dpu-bg-darkblue-75-t {
  background: rgba(14, 65, 116, 0.75);
}
.dpu-bg-darkblue-75-t h1,
.dpu-bg-darkblue-75-t h2,
.dpu-bg-darkblue-75-t h3,
.dpu-bg-darkblue-75-t h4,
.dpu-bg-darkblue-75-t h5,
.dpu-bg-darkblue-75-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-70 {
  background-color: #1a7ada;
}
.dpu-bg-darkblue-70-t {
  background: rgba(14, 65, 116, 0.7);
}
.dpu-bg-darkblue-70-t h1,
.dpu-bg-darkblue-70-t h2,
.dpu-bg-darkblue-70-t h3,
.dpu-bg-darkblue-70-t h4,
.dpu-bg-darkblue-70-t h5,
.dpu-bg-darkblue-70-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-65 {
  background-color: #2384e4;
}
.dpu-bg-darkblue-65-t {
  background: rgba(14, 65, 116, 0.65);
}
.dpu-bg-darkblue-65-t h1,
.dpu-bg-darkblue-65-t h2,
.dpu-bg-darkblue-65-t h3,
.dpu-bg-darkblue-65-t h4,
.dpu-bg-darkblue-65-t h5,
.dpu-bg-darkblue-65-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-60 {
  background-color: #348de6;
}
.dpu-bg-darkblue-60-t {
  background: rgba(14, 65, 116, 0.6);
}
.dpu-bg-darkblue-60-t h1,
.dpu-bg-darkblue-60-t h2,
.dpu-bg-darkblue-60-t h3,
.dpu-bg-darkblue-60-t h4,
.dpu-bg-darkblue-60-t h5,
.dpu-bg-darkblue-60-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-55 {
  background-color: #4597e8;
}
.dpu-bg-darkblue-55-t {
  background: rgba(14, 65, 116, 0.55);
}
.dpu-bg-darkblue-55-t h1,
.dpu-bg-darkblue-55-t h2,
.dpu-bg-darkblue-55-t h3,
.dpu-bg-darkblue-55-t h4,
.dpu-bg-darkblue-55-t h5,
.dpu-bg-darkblue-55-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-50 {
  background-color: #55a0eb;
}
.dpu-bg-darkblue-50-t {
  background: rgba(14, 65, 116, 0.5);
}
.dpu-bg-darkblue-50-t h1,
.dpu-bg-darkblue-50-t h2,
.dpu-bg-darkblue-50-t h3,
.dpu-bg-darkblue-50-t h4,
.dpu-bg-darkblue-50-t h5,
.dpu-bg-darkblue-50-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-45 {
  background-color: #66aaed;
}
.dpu-bg-darkblue-45-t {
  background: rgba(14, 65, 116, 0.45);
}
.dpu-bg-darkblue-45-t h1,
.dpu-bg-darkblue-45-t h2,
.dpu-bg-darkblue-45-t h3,
.dpu-bg-darkblue-45-t h4,
.dpu-bg-darkblue-45-t h5,
.dpu-bg-darkblue-45-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-40 {
  background-color: #77b3ef;
}
.dpu-bg-darkblue-40-t {
  background: rgba(14, 65, 116, 0.4);
}
.dpu-bg-darkblue-40-t h1,
.dpu-bg-darkblue-40-t h2,
.dpu-bg-darkblue-40-t h3,
.dpu-bg-darkblue-40-t h4,
.dpu-bg-darkblue-40-t h5,
.dpu-bg-darkblue-40-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-35 {
  background-color: #88bdf1;
}
.dpu-bg-darkblue-35-t {
  background: rgba(14, 65, 116, 0.35);
}
.dpu-bg-darkblue-35-t h1,
.dpu-bg-darkblue-35-t h2,
.dpu-bg-darkblue-35-t h3,
.dpu-bg-darkblue-35-t h4,
.dpu-bg-darkblue-35-t h5,
.dpu-bg-darkblue-35-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-30 {
  background-color: #99c6f3;
}
.dpu-bg-darkblue-30-t {
  background: rgba(14, 65, 116, 0.3);
}
.dpu-bg-darkblue-30-t h1,
.dpu-bg-darkblue-30-t h2,
.dpu-bg-darkblue-30-t h3,
.dpu-bg-darkblue-30-t h4,
.dpu-bg-darkblue-30-t h5,
.dpu-bg-darkblue-30-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-25 {
  background-color: #aad0f5;
}
.dpu-bg-darkblue-25-t {
  background: rgba(14, 65, 116, 0.25);
}
.dpu-bg-darkblue-25-t h1,
.dpu-bg-darkblue-25-t h2,
.dpu-bg-darkblue-25-t h3,
.dpu-bg-darkblue-25-t h4,
.dpu-bg-darkblue-25-t h5,
.dpu-bg-darkblue-25-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-20 {
  background-color: #bbd9f7;
}
.dpu-bg-darkblue-20-t {
  background: rgba(14, 65, 116, 0.2);
}
.dpu-bg-darkblue-20-t h1,
.dpu-bg-darkblue-20-t h2,
.dpu-bg-darkblue-20-t h3,
.dpu-bg-darkblue-20-t h4,
.dpu-bg-darkblue-20-t h5,
.dpu-bg-darkblue-20-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-15 {
  background-color: #cce3f9;
}
.dpu-bg-darkblue-15-t {
  background: rgba(14, 65, 116, 0.15);
}
.dpu-bg-darkblue-15-t h1,
.dpu-bg-darkblue-15-t h2,
.dpu-bg-darkblue-15-t h3,
.dpu-bg-darkblue-15-t h4,
.dpu-bg-darkblue-15-t h5,
.dpu-bg-darkblue-15-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-darkblue-10 {
  background-color: #ddecfb;
}
.dpu-bg-darkblue-10-t {
  background: rgba(14, 65, 116, 0.1);
}
.dpu-bg-darkblue-10-t h1,
.dpu-bg-darkblue-10-t h2,
.dpu-bg-darkblue-10-t h3,
.dpu-bg-darkblue-10-t h4,
.dpu-bg-darkblue-10-t h5,
.dpu-bg-darkblue-10-t h6 {
  text-shadow: 2px 2px 0px #092846;
}
.dpu-bg-red {
  background: #af272f;
}
.dpu-bg-red-100 {
  background-color: #af272f;
}
.dpu-bg-red-100-t {
  background: #af272f;
}
.dpu-bg-red-100-t h1,
.dpu-bg-red-100-t h2,
.dpu-bg-red-100-t h3,
.dpu-bg-red-100-t h4,
.dpu-bg-red-100-t h5,
.dpu-bg-red-100-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-95 {
  background-color: #bb2a32;
}
.dpu-bg-red-95-t {
  background: rgba(175, 39, 47, 0.95);
}
.dpu-bg-red-95-t h1,
.dpu-bg-red-95-t h2,
.dpu-bg-red-95-t h3,
.dpu-bg-red-95-t h4,
.dpu-bg-red-95-t h5,
.dpu-bg-red-95-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-90 {
  background-color: #c72c36;
}
.dpu-bg-red-90-t {
  background: rgba(175, 39, 47, 0.9);
}
.dpu-bg-red-90-t h1,
.dpu-bg-red-90-t h2,
.dpu-bg-red-90-t h3,
.dpu-bg-red-90-t h4,
.dpu-bg-red-90-t h5,
.dpu-bg-red-90-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-85 {
  background-color: #d1313b;
}
.dpu-bg-red-85-t {
  background: rgba(175, 39, 47, 0.85);
}
.dpu-bg-red-85-t h1,
.dpu-bg-red-85-t h2,
.dpu-bg-red-85-t h3,
.dpu-bg-red-85-t h4,
.dpu-bg-red-85-t h5,
.dpu-bg-red-85-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-80 {
  background-color: #d43d46;
}
.dpu-bg-red-80-t {
  background: rgba(175, 39, 47, 0.8);
}
.dpu-bg-red-80-t h1,
.dpu-bg-red-80-t h2,
.dpu-bg-red-80-t h3,
.dpu-bg-red-80-t h4,
.dpu-bg-red-80-t h5,
.dpu-bg-red-80-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-75 {
  background-color: #d74952;
}
.dpu-bg-red-75-t {
  background: rgba(175, 39, 47, 0.75);
}
.dpu-bg-red-75-t h1,
.dpu-bg-red-75-t h2,
.dpu-bg-red-75-t h3,
.dpu-bg-red-75-t h4,
.dpu-bg-red-75-t h5,
.dpu-bg-red-75-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-70 {
  background-color: #d9565d;
}
.dpu-bg-red-70-t {
  background: rgba(175, 39, 47, 0.7);
}
.dpu-bg-red-70-t h1,
.dpu-bg-red-70-t h2,
.dpu-bg-red-70-t h3,
.dpu-bg-red-70-t h4,
.dpu-bg-red-70-t h5,
.dpu-bg-red-70-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-65 {
  background-color: #dc6269;
}
.dpu-bg-red-65-t {
  background: rgba(175, 39, 47, 0.65);
}
.dpu-bg-red-65-t h1,
.dpu-bg-red-65-t h2,
.dpu-bg-red-65-t h3,
.dpu-bg-red-65-t h4,
.dpu-bg-red-65-t h5,
.dpu-bg-red-65-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-60 {
  background-color: #df6e74;
}
.dpu-bg-red-60-t {
  background: rgba(175, 39, 47, 0.6);
}
.dpu-bg-red-60-t h1,
.dpu-bg-red-60-t h2,
.dpu-bg-red-60-t h3,
.dpu-bg-red-60-t h4,
.dpu-bg-red-60-t h5,
.dpu-bg-red-60-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-55 {
  background-color: #e17a80;
}
.dpu-bg-red-55-t {
  background: rgba(175, 39, 47, 0.55);
}
.dpu-bg-red-55-t h1,
.dpu-bg-red-55-t h2,
.dpu-bg-red-55-t h3,
.dpu-bg-red-55-t h4,
.dpu-bg-red-55-t h5,
.dpu-bg-red-55-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-50 {
  background-color: #e4868c;
}
.dpu-bg-red-50-t {
  background: rgba(175, 39, 47, 0.5);
}
.dpu-bg-red-50-t h1,
.dpu-bg-red-50-t h2,
.dpu-bg-red-50-t h3,
.dpu-bg-red-50-t h4,
.dpu-bg-red-50-t h5,
.dpu-bg-red-50-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-45 {
  background-color: #e79297;
}
.dpu-bg-red-45-t {
  background: rgba(175, 39, 47, 0.45);
}
.dpu-bg-red-45-t h1,
.dpu-bg-red-45-t h2,
.dpu-bg-red-45-t h3,
.dpu-bg-red-45-t h4,
.dpu-bg-red-45-t h5,
.dpu-bg-red-45-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-40 {
  background-color: #e99ea3;
}
.dpu-bg-red-40-t {
  background: rgba(175, 39, 47, 0.4);
}
.dpu-bg-red-40-t h1,
.dpu-bg-red-40-t h2,
.dpu-bg-red-40-t h3,
.dpu-bg-red-40-t h4,
.dpu-bg-red-40-t h5,
.dpu-bg-red-40-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-35 {
  background-color: #ecaaae;
}
.dpu-bg-red-35-t {
  background: rgba(175, 39, 47, 0.35);
}
.dpu-bg-red-35-t h1,
.dpu-bg-red-35-t h2,
.dpu-bg-red-35-t h3,
.dpu-bg-red-35-t h4,
.dpu-bg-red-35-t h5,
.dpu-bg-red-35-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-30 {
  background-color: #efb6ba;
}
.dpu-bg-red-30-t {
  background: rgba(175, 39, 47, 0.3);
}
.dpu-bg-red-30-t h1,
.dpu-bg-red-30-t h2,
.dpu-bg-red-30-t h3,
.dpu-bg-red-30-t h4,
.dpu-bg-red-30-t h5,
.dpu-bg-red-30-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-25 {
  background-color: #f2c2c5;
}
.dpu-bg-red-25-t {
  background: rgba(175, 39, 47, 0.25);
}
.dpu-bg-red-25-t h1,
.dpu-bg-red-25-t h2,
.dpu-bg-red-25-t h3,
.dpu-bg-red-25-t h4,
.dpu-bg-red-25-t h5,
.dpu-bg-red-25-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-20 {
  background-color: #f4cfd1;
}
.dpu-bg-red-20-t {
  background: rgba(175, 39, 47, 0.2);
}
.dpu-bg-red-20-t h1,
.dpu-bg-red-20-t h2,
.dpu-bg-red-20-t h3,
.dpu-bg-red-20-t h4,
.dpu-bg-red-20-t h5,
.dpu-bg-red-20-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-15 {
  background-color: #f7dbdc;
}
.dpu-bg-red-15-t {
  background: rgba(175, 39, 47, 0.15);
}
.dpu-bg-red-15-t h1,
.dpu-bg-red-15-t h2,
.dpu-bg-red-15-t h3,
.dpu-bg-red-15-t h4,
.dpu-bg-red-15-t h5,
.dpu-bg-red-15-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-red-10 {
  background-color: #fae7e8;
}
.dpu-bg-red-10-t {
  background: rgba(175, 39, 47, 0.1);
}
.dpu-bg-red-10-t h1,
.dpu-bg-red-10-t h2,
.dpu-bg-red-10-t h3,
.dpu-bg-red-10-t h4,
.dpu-bg-red-10-t h5,
.dpu-bg-red-10-t h6 {
  text-shadow: 2px 2px 0px #851e24;
}
.dpu-bg-white {
  background: white;
}
.dpu-bg-gray {
  background: #565656;
}
.dpu-bg-gray-100 {
  background-color: #565656;
}
.dpu-bg-gray-100-t {
  background: #565656;
}
.dpu-bg-gray-100-t h1,
.dpu-bg-gray-100-t h2,
.dpu-bg-gray-100-t h3,
.dpu-bg-gray-100-t h4,
.dpu-bg-gray-100-t h5,
.dpu-bg-gray-100-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-95 {
  background-color: #5e5e5e;
}
.dpu-bg-gray-95-t {
  background: rgba(86, 86, 86, 0.95);
}
.dpu-bg-gray-95-t h1,
.dpu-bg-gray-95-t h2,
.dpu-bg-gray-95-t h3,
.dpu-bg-gray-95-t h4,
.dpu-bg-gray-95-t h5,
.dpu-bg-gray-95-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-90 {
  background-color: #676767;
}
.dpu-bg-gray-90-t {
  background: rgba(86, 86, 86, 0.9);
}
.dpu-bg-gray-90-t h1,
.dpu-bg-gray-90-t h2,
.dpu-bg-gray-90-t h3,
.dpu-bg-gray-90-t h4,
.dpu-bg-gray-90-t h5,
.dpu-bg-gray-90-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-85 {
  background-color: #6f6f6f;
}
.dpu-bg-gray-85-t {
  background: rgba(86, 86, 86, 0.85);
}
.dpu-bg-gray-85-t h1,
.dpu-bg-gray-85-t h2,
.dpu-bg-gray-85-t h3,
.dpu-bg-gray-85-t h4,
.dpu-bg-gray-85-t h5,
.dpu-bg-gray-85-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-80 {
  background-color: #787878;
}
.dpu-bg-gray-80-t {
  background: rgba(86, 86, 86, 0.8);
}
.dpu-bg-gray-80-t h1,
.dpu-bg-gray-80-t h2,
.dpu-bg-gray-80-t h3,
.dpu-bg-gray-80-t h4,
.dpu-bg-gray-80-t h5,
.dpu-bg-gray-80-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-75 {
  background-color: gray;
}
.dpu-bg-gray-75-t {
  background: rgba(86, 86, 86, 0.75);
}
.dpu-bg-gray-75-t h1,
.dpu-bg-gray-75-t h2,
.dpu-bg-gray-75-t h3,
.dpu-bg-gray-75-t h4,
.dpu-bg-gray-75-t h5,
.dpu-bg-gray-75-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-70 {
  background-color: #898989;
}
.dpu-bg-gray-70-t {
  background: rgba(86, 86, 86, 0.7);
}
.dpu-bg-gray-70-t h1,
.dpu-bg-gray-70-t h2,
.dpu-bg-gray-70-t h3,
.dpu-bg-gray-70-t h4,
.dpu-bg-gray-70-t h5,
.dpu-bg-gray-70-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-65 {
  background-color: #919191;
}
.dpu-bg-gray-65-t {
  background: rgba(86, 86, 86, 0.65);
}
.dpu-bg-gray-65-t h1,
.dpu-bg-gray-65-t h2,
.dpu-bg-gray-65-t h3,
.dpu-bg-gray-65-t h4,
.dpu-bg-gray-65-t h5,
.dpu-bg-gray-65-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-60 {
  background-color: #9a9a9a;
}
.dpu-bg-gray-60-t {
  background: rgba(86, 86, 86, 0.6);
}
.dpu-bg-gray-60-t h1,
.dpu-bg-gray-60-t h2,
.dpu-bg-gray-60-t h3,
.dpu-bg-gray-60-t h4,
.dpu-bg-gray-60-t h5,
.dpu-bg-gray-60-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-55 {
  background-color: #a2a2a2;
}
.dpu-bg-gray-55-t {
  background: rgba(86, 86, 86, 0.55);
}
.dpu-bg-gray-55-t h1,
.dpu-bg-gray-55-t h2,
.dpu-bg-gray-55-t h3,
.dpu-bg-gray-55-t h4,
.dpu-bg-gray-55-t h5,
.dpu-bg-gray-55-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-50 {
  background-color: #ababab;
}
.dpu-bg-gray-50-t {
  background: rgba(86, 86, 86, 0.5);
}
.dpu-bg-gray-50-t h1,
.dpu-bg-gray-50-t h2,
.dpu-bg-gray-50-t h3,
.dpu-bg-gray-50-t h4,
.dpu-bg-gray-50-t h5,
.dpu-bg-gray-50-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-45 {
  background-color: #b3b3b3;
}
.dpu-bg-gray-45-t {
  background: rgba(86, 86, 86, 0.45);
}
.dpu-bg-gray-45-t h1,
.dpu-bg-gray-45-t h2,
.dpu-bg-gray-45-t h3,
.dpu-bg-gray-45-t h4,
.dpu-bg-gray-45-t h5,
.dpu-bg-gray-45-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-40 {
  background-color: #bbbbbb;
}
.dpu-bg-gray-40-t {
  background: rgba(86, 86, 86, 0.4);
}
.dpu-bg-gray-40-t h1,
.dpu-bg-gray-40-t h2,
.dpu-bg-gray-40-t h3,
.dpu-bg-gray-40-t h4,
.dpu-bg-gray-40-t h5,
.dpu-bg-gray-40-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-35 {
  background-color: #c4c4c4;
}
.dpu-bg-gray-35-t {
  background: rgba(86, 86, 86, 0.35);
}
.dpu-bg-gray-35-t h1,
.dpu-bg-gray-35-t h2,
.dpu-bg-gray-35-t h3,
.dpu-bg-gray-35-t h4,
.dpu-bg-gray-35-t h5,
.dpu-bg-gray-35-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-30 {
  background-color: #cccccc;
}
.dpu-bg-gray-30-t {
  background: rgba(86, 86, 86, 0.3);
}
.dpu-bg-gray-30-t h1,
.dpu-bg-gray-30-t h2,
.dpu-bg-gray-30-t h3,
.dpu-bg-gray-30-t h4,
.dpu-bg-gray-30-t h5,
.dpu-bg-gray-30-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-25 {
  background-color: #d5d5d5;
}
.dpu-bg-gray-25-t {
  background: rgba(86, 86, 86, 0.25);
}
.dpu-bg-gray-25-t h1,
.dpu-bg-gray-25-t h2,
.dpu-bg-gray-25-t h3,
.dpu-bg-gray-25-t h4,
.dpu-bg-gray-25-t h5,
.dpu-bg-gray-25-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-20 {
  background-color: #dddddd;
}
.dpu-bg-gray-20-t {
  background: rgba(86, 86, 86, 0.2);
}
.dpu-bg-gray-20-t h1,
.dpu-bg-gray-20-t h2,
.dpu-bg-gray-20-t h3,
.dpu-bg-gray-20-t h4,
.dpu-bg-gray-20-t h5,
.dpu-bg-gray-20-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-15 {
  background-color: #e6e6e6;
}
.dpu-bg-gray-15-t {
  background: rgba(86, 86, 86, 0.15);
}
.dpu-bg-gray-15-t h1,
.dpu-bg-gray-15-t h2,
.dpu-bg-gray-15-t h3,
.dpu-bg-gray-15-t h4,
.dpu-bg-gray-15-t h5,
.dpu-bg-gray-15-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}
.dpu-bg-gray-10 {
  background-color: #eeeeee;
}
.dpu-bg-gray-10-t {
  background: rgba(86, 86, 86, 0.1);
}
.dpu-bg-gray-10-t h1,
.dpu-bg-gray-10-t h2,
.dpu-bg-gray-10-t h3,
.dpu-bg-gray-10-t h4,
.dpu-bg-gray-10-t h5,
.dpu-bg-gray-10-t h6 {
  text-shadow: 2px 2px 0px #3d3d3d;
}

.tint {
  flex: 1 1 auto;
  margin: 1px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 150px;
}
.tint .tint-label {
  display: flex;
  justify-content: flex-end;
  color: #565656;
  font-size: 0.75rem;
}
.tint .bc-blue-tint {
  height: 5rem;
  margin: 1px 0;
}
.tint .bc-red-tint {
  height: 3rem;
  margin: 1px 0;
}
.tint .bc-darkblue-tint {
  height: 4rem;
  margin: 1px 0;
}

.text-blue {
  color: #0057b7;
}
.text-red {
  color: #af272f;
}
.text-darkblue {
  color: #0e4174;
}
.text-gray {
  color: #565656;
}
.text-white {
  color: white;
}

.border-blue {
  border: 1px solid #0057b7;
}
.border-darkblue {
  border: 1px solid #0e4174;
}
.border-red {
  border: 1px solid #af272f;
}
.border-gray {
  border: 1px solid #565656;
}

.btn {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.red {
  background-color: #af272f;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.red.ghost {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #af272f;
  color: #af272f;
}
.btn.red.ghost-shadow, .btn.red.ghost-shadow-o {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #af272f;
  color: #af272f;
  box-shadow: 5px 5px 0 #af272f;
}
.btn.red.ghost-shadow-o {
  background-color: #ffffff;
}
.btn.blue {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.blue.ghost {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #0057b7;
  color: #0057b7;
}
.btn.blue.ghost-shadow, .btn.blue.ghost-shadow-o {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #0057b7;
  color: #0057b7;
  box-shadow: 5px 5px 0 #0057b7;
}
.btn.blue.ghost-shadow-o {
  background-color: #ffffff;
}
.btn.darkblue {
  background-color: #0e4174;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.darkblue.ghost {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #0e4174;
  color: #0e4174;
}
.btn.darkblue.ghost-shadow, .btn.darkblue.ghost-shadow-o {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #0e4174;
  color: #0e4174;
  box-shadow: 5px 5px 0 #0e4174;
}
.btn.darkblue.ghost-shadow-o {
  background-color: #ffffff;
}
.btn.white {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
}
.btn.white.ghost {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
}
.btn.white.ghost-shadow, .btn.white.ghost-shadow-o {
  background-color: #0057b7;
  color: #ffffff;
  border-radius: 0;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto";
  text-shadow: none;
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  box-shadow: 5px 5px 0 #ffffff;
}
.btn.white.ghost-shadow-o {
  background-color: #ffffff;
}

.container-1920, .container-1440, .container-1200, .container-1080, .container-900,
.wrap-1920,
.wrap-1440,
.wrap-1200,
.wrap-1080,
.wrap-900 {
  margin: 0 auto;
  flex: 1 1 auto;
}
.container-1920,
.wrap-1920 {
  max-width: 1920px;
}
.container-1440,
.wrap-1440 {
  max-width: 1440px;
}
.container-1200,
.wrap-1200 {
  max-width: 1200px;
}
.container-1080,
.wrap-1080 {
  max-width: 1080px;
}
.container-900,
.wrap-900 {
  max-width: 900px;
}

#hero-container {
  max-width: 1920px;
  margin: 0 auto;
}
#hero-container .chevron {
  clip-path: polygon(100% 0, 100% 86%, 65% 100%, 0 86%, 0 0);
  background: url(https://via.placeholder.com/1920x950) 50% 50%/cover no-repeat;
  height: 600px;
  z-index: 90;
  position: relative;
}
@media screen and (max-width: 820px) {
  #hero-container .chevron {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 50vh;
  }
}
@media screen and (max-width: 414px) {
  #hero-container .chevron {
    height: 30vh;
  }
}
#hero-container #text-content {
  position: relative;
  top: -190px;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content {
    top: 0;
    display: block !important;
    padding: 0;
  }
}
#hero-container #text-content .hero-text {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text {
    padding: 0;
    max-width: 100%;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text .hero-content {
    padding: 0;
    flex: 0 0 auto;
    max-width: 60%;
    background: #0057b7;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text .hero-content {
    max-width: 100%;
  }
}
#hero-container #text-content .hero-text .hero-content .hero-title {
  background: rgba(0, 87, 183, 0.75);
  z-index: 100;
  position: relative;
  padding: 1rem 1.5rem;
  width: 595px;
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .hero-text .hero-content .hero-title {
    width: 100%;
    background: #0057b7;
  }
}
#hero-container #text-content .hero-text .hero-content .hero-title h1 {
  font-family: "DIN Pro bold";
  font-weight: normal;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1200px) {
  #hero-container #text-content .hero-text .hero-content .hero-title h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .hero-text .hero-content .hero-title h1 {
    font-size: 2rem;
  }
}
#hero-container #text-content .cta {
  background: #0e4174;
  z-index: 80;
  position: relative;
  display: flex;
  align-items: end;
  color: #fff;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  #hero-container #text-content .cta {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 820px) {
  #hero-container #text-content .cta {
    flex: 0 0 auto;
    max-width: 40% !important;
    height: auto;
    align-items: center;
  }
}
@media screen and (max-width: 414px) {
  #hero-container #text-content .cta {
    max-width: 100% !important;
  }
}
#hero-container #text-content .cta div {
  padding-top: 11rem;
}
#hero-container #text-content .cta p {
  font-family: "DIN Pro";
  font-weight: normal;
  font-size: 1.75rem;
  margin: 0;
}
#hero-container #text-content .cta a {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: underline;
}

.triangle-1 {
  clip-path: polygon(64.76% 0px, 100% 15.5%, 100% 100%, 0px 100%, 0% 17%);
  padding: 8rem 0;
  position: relative;
  background: linear-gradient(180deg, rgba(26, 76, 141, 0) 60.42%, rgba(14, 65, 116, 0.75) 88.54%), rgba(0, 87, 183, 0.75) url("https://picsum.photos/900/600") center/cover;
  background-blend-mode: overlay;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle-1 .btn {
  font-size: 2.35rem !important;
  text-shadow: 2px 2px #0e4174;
  background: rgba(14, 65, 116, 0.75);
  background-blend-mode: multiply;
  border: 3px solid #ffffff;
}

.triangle-2 {
  clip-path: polygon(67.03% 24.83%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: relative;
  background: linear-gradient(180deg, rgba(26, 76, 141, 0) 60.42%, rgba(14, 65, 116, 0.75) 88.54%), rgba(0, 87, 183, 0.75) url(https://picsum.photos/900/600) center/cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  padding: 6rem 0 2rem;
}
.triangle-2 a {
  font-size: 1.25rem;
}

.triangle-3 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 38% 78.5%, 0% 100%);
  padding: 3rem 0 8rem;
  position: relative;
  background: #0057b7;
  background-blend-mode: overlay;
}
.triangle-3 p {
  font-size: 1.95rem;
}

.triangle-1 .header,
.triangle-2 .header,
.triangle-3 .header {
  font-size: 58px;
  padding: 0;
}

.photo-bg {
  background: url("https://picsum.photos/1920/410") center/cover;
  background: url("https://via.placeholder.com/1920x410") center/cover;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: capitalize;
}
.photo-bg-overlay {
  background-color: rgba(175, 39, 47, 0.75);
  flex: 1 1 auto;
  text-align: center;
  padding: 3rem;
  color: #ffffff;
}
.photo-bg-overlay .title {
  color: #ffffff;
  text-shadow: 2px 2px #851e24;
  font-size: 3.5rem;
}
.photo-bg-overlay p {
  font-family: "DINPro";
  text-transform: none;
  font-size: 1.75rem;
}
.photo-bg-overlay a {
  background-color: #ffffff !important;
}

.img-header, .img-gradient {
  background: url("https://picsum.photos/1920/570") center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  height: 570px;
  color: #ffffff;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-header-overlay {
  background-color: rgba(0, 87, 183, 0.75);
  flex: 1 1 auto;
  text-align: center;
  padding: 1.5rem;
}
.img-header-overlay h1 {
  border-bottom: 3px solid white;
  box-shadow: 0px 2px black;
  text-shadow: 2px 2px black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.img-header-overlay p {
  text-shadow: 2px 2px black;
  font-size: 1.63rem;
}

.img-gradient {
  background: linear-gradient(31.6deg, #005dba 27.08%, rgba(0, 93, 186, 0) 46.04%), #c4c4c4 url("https://picsum.photos/1920/570") center/cover;
  background-blend-mode: hard-light;
  align-items: flex-end;
}
.img-gradient-overlay {
  flex: 1 1 auto;
}
.img-gradient-overlay h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
}

.bg-screen {
  overflow: hidden;
  position: relative;
}
.bg-screen::before {
  background: rgba(0, 87, 183, 0.5);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg-screen > img {
  mix-blend-mode: screen;
}

.clip, .clip-right-bottom, .clip-right-top, .clip-left-bottom, .clip-left-top {
  box-sizing: border-box;
}
.clip-left-top {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.clip-left-bottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}
.clip-right-top {
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}
.clip-right-bottom {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.img-container {
  background: url(https://via.placeholder.com/1200) center/cover;
}

.accordion-item,
.accordion-item:last-child {
  border-bottom: 1px solid #0057b7 !important;
}
.accordion-item .accordion-header .accordion-button,
.accordion-item:last-child .accordion-header .accordion-button {
  font-family: "DINPro";
  padding: 0;
  font-size: 1.35rem;
  color: #0e4174;
  background: white;
  justify-content: space-between;
}
.accordion-item .accordion-header .accordion-button .bi.bi-plus,
.accordion-item:last-child .accordion-header .accordion-button .bi.bi-plus {
  transition: 0.25s all;
  font-size: 2.5rem;
  color: #0057b7;
}
.accordion-item .accordion-header .accordion-button.collapsed,
.accordion-item:last-child .accordion-header .accordion-button.collapsed {
  font-weight: 600;
}
.accordion-item .accordion-header .accordion-button:not(.collapsed),
.accordion-item:last-child .accordion-header .accordion-button:not(.collapsed) {
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: inset 0 -1px 0 #0057b7;
}
.accordion-item .accordion-header .accordion-button:not(.collapsed) .bi.bi-plus,
.accordion-item:last-child .accordion-header .accordion-button:not(.collapsed) .bi.bi-plus {
  transform: rotate(45deg);
}
.accordion-item .accordion-header .accordion-button::after,
.accordion-item:last-child .accordion-header .accordion-button::after {
  display: none;
}
.accordion-item .accordion-body,
.accordion-item:last-child .accordion-body {
  padding: 1rem 0;
  font-family: "Roboto";
}

.footer {
  background: #0e4174;
  text-align: center;
  color: #ffffff;
  margin-top: 0 !important;
  padding-bottom: 0;
}
.footer a,
.footer p {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.8;
}
.footer .fab {
  width: 48px;
  height: 48px;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
.footer .copyright {
  font-family: "Roboto";
  font-size: 1rem;
}
.footer .copyright a {
  font-size: 1rem;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
